.btnaddpost{
    width:100%;
    height:100%;
    max-width:200px;
    min-height:200px;
    border-radius:10px;
    text-align: center;
    vertical-align: middle;

}

.btn_add_img{
    background-color: #48C9D9;
}
.icon_add{
    color: #3FEFBD!important;
    /* background-color: #3FEFBD; */
}

.btn_crearG{
    border-radius: 13px;
    font-weight: bold;
    color: white;
}
.v-btn{
    letter-spacing: 0em;
    /* justify-content: center; */
    text-indent: 0em;
    /* text-transform: uppercase; */
    text-transform: none;
    /* align-items: flex-start; */
  }

  .vue-input-tag-wrapper .input-tag {
    background-color: #ad227d!important;
    border: 1px solid white!important;
    color: white!important;
}

.vue-input-tag-wrapper .input-tag .remove {
    color: white!important;
}

.errorTags{
    color: #ff5252 !important;
    font-size: 12px;
}
.errorTagsBorder{
    /* color: #ff5252 !important; */
    /* border: #ff5252 !important; */
    border: 1px solid #ff5252!important;
    background-color: #fff;
    overflow: hidden;
    padding-left: 4px;
    padding-top: 4px;
    cursor: text;
    text-align: left;
    -webkit-appearance: textfield;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}