<!-- <div style="text-align:left;" class="pt-5"> -->

    <!-- BOTON PARA CREAR GRUPO -->
    <v-col cols="12" md="3" sm="6" class=" mb-3">
        <v-card
          class="pa-2 mx-2 d-flex justify-center align-center"
          height="150px"
          style="background-color: #F2EAF1"
        >

          <v-btn color="" text  @click="abrirDialog()" 
          fab
          dark
          x-large
          class="m-0 p-0 btn_add_img">
              <div >
                  <v-icon class="icon_add"  style="font-size: 80px;">mdi-plus</v-icon>
              </div>
          </v-btn>
          

        </v-card>
        <div>
            <div class=" ml-3">
                <h4>Agregar recurso</h4>
                <p></p>
            </div>
        </div>





        <v-dialog v-model="creaRecurso" persistent max-width="755">
        
            <v-card class=" px-10">
              <v-card-title class=" justify-space-between">
                  <v-btn icon text small color="purple" @click="" >
                  </v-btn>
                  <h2 class="primary--text ">{{tituloCrear}}</h2>
                  <v-btn icon text small color="purple" @click="creaRecurso = false" >
                      <v-icon>mdi-window-close</v-icon>
                  </v-btn>
              </v-card-title>
              <div class="mt-8">
                  <v-form
                    lazy-validation
                    ref="formRecurso"
                    v-model="esRecursoValido"
                  >
                    <div class="text-center" v-if="!cargando">
                        <subirImagen 
                        v-if="subtipo !=='reflexion'"
                            titulo=""  
                            @updateImg="datosRecurso.urlImagen=$event" 
                            ejecimagen="uploadimg" 
                            tpimg="post"
                            class=" d-flex justify-center mb-4"
                        />
                        <v-row v-if="subtipo ==='reflexion'" v-show="showicon===true" style="border:solid #ccc 1px; border-radius:10px;" >
                            <v-col cols="2" md="2" v-for="k in 8"  :key="'pos'+k" >
                                <v-btn @click="datosRecurso.icono='images/iconos/reflexiones/'+k+'.png';showicon=false" depressed ><img :src="'images/iconos/reflexiones/'+k+'.png'" width="50" /></v-btn>
                            </v-col>
                        </v-row>
                        <v-avatar size="90" v-if="subtipo ==='reflexion'">
                            <img :src="datosRecurso.icono" width="100%" />
                        </v-avatar>
                        <v-btn v-if="subtipo ==='reflexion'"  @click="showicon=true">Cambiar Icono</v-btn>

                        <!-- <p>{{subtipo}}</p> -->
                        <div v-if="subtipo ==='planeacion'">
                            <subirFile 
                                filesAccepts=".doc, .docx" 
                                label="Archivo WORD"
                                :subtipo="subtipo"
                                :foldercode="datosRecurso.foldercode" @updateFoldercode="datosRecurso.foldercode=$event" 
                                :file="fileDescargable" @updateFile="fileDescargable=$event"
                                @updateUrlFile="urlDescargable=$event"
                                nickFile="word"
                            />

                            <subirFile
                                filesAccepts=".pdf" 
                                label="Archivo PDF"
                                :subtipo="subtipo"
                                :foldercode="datosRecurso.foldercode" @updateFoldercode="datosRecurso.foldercode=$event" 
                                :file="fileVista" @updateFile="fileVista=$event"
                                @updateUrlFile="urlVista=$event"
                                nickFile="pdf"
                            />
                            
                            
                        </div>

                        <div v-if="subtipo !=='planeacion' && subtipo !=='reflexion' && subtipo !=='materialdidactico' && subtipo !=='hojatrabajo' && subtipo !=='otro'">
                            <v-select
                                :items="tiposRecursoList"
                                label="Tipo de recurso"
                                solo
                                outlined
                                v-model="tipoRecursoSelect"
                            ></v-select>


                            <v-text-field
                                v-model="urlVista"
                                placeholder="Link del video"
                                required
                                outlined
                                :rules="[v => !!v || 'Link del video es requerida']"
                                @keyup.enter=""
                                v-if="tipoRecursoSelect === 'link'"
                            ></v-text-field>
                            <subirFile v-else-if="tipoRecursoSelect === 'file'"
                                filesAccepts="audio/mp3" 
                                :label="labelFile"
                                :subtipo="subtipo"
                                :foldercode="datosRecurso.foldercode" @updateFoldercode="datosRecurso.foldercode=$event" 
                                :file="fileVista" @updateFile="fileVista=$event"
                                @updateUrlFile="urlVista=$event"
                                nickFile="subtipo"
                            />
                            <subirFile
                                v-if="subtipo !=='blog' && subtipo !=='memoria'"
                                filesAccepts=".pdf" 
                                label="Archivo válido"
                                :subtipo="subtipo"
                                :foldercode="datosRecurso.foldercode" @updateFoldercode="datosRecurso.foldercode=$event"
                                :file="fileDescargable" @updateFile="fileDescargable=$event"
                                @updateUrlFile="urlDescargable=$event"
                                nickFile="letra"

                                
                            />
                           
                        </div>

                        <div v-else-if="subtipo ==='materialdidactico' || subtipo ==='hojatrabajo' || subtipo ==='otro'">
                            <subirFile 
                                filesAccepts=".pdf" 
                                :label="labelFile"
                                :subtipo="subtipo"
                                :foldercode="datosRecurso.foldercode" @updateFoldercode="datosRecurso.foldercode=$event" 
                                :file="fileDescargable" @updateFile="fileDescargable=$event"
                                @updateUrlFile="urlDescargable=$event"
                                nickFile="subtipo"
                            />
                        </div>

                        
    
                        <v-text-field
                            v-model="datosRecurso.titulo"
                            placeholder="Titulo"
                            required
                            outlined
                            :rules="[v => !!v || 'Titulo es requerida']"
                            @keyup.enter=""
                        ></v-text-field>
                        
                       
                        <v-textarea
                            solo
                            outlined
                            required
                            v-model="sinopsis"
                            name="input-7-4"
                            :rules="sinopsisReglas"
                            label="Sinopsis..."
                            v-if="(subtipo === 'planeacion' || subtipo === 'materialdidactico' || subtipo === 'hojatrabajo' || subtipo === 'interactivo')"
                            @keyup.enter=""

                        ></v-textarea>

                        <v-text-field
                            v-model="materia"
                            placeholder="Materia"
                            required
                            outlined
                            :rules="[v => !!v || 'Materia es requerida']"
                            @keyup.enter=""
                            v-if="(subtipo === 'planeacion' || subtipo === 'materialdidactico' || subtipo === 'hojatrabajo' || subtipo === 'interactivo')"
                        ></v-text-field>

                        <v-text-field
                            v-model="grado"
                            placeholder="Grado"
                            required
                            outlined
                            :rules="[v => !!v || 'Grado es requerida']"
                            @keyup.enter=""
                            v-if="(subtipo === 'planeacion' || subtipo === 'materialdidactico' || subtipo === 'hojatrabajo' || subtipo === 'interactivo')"
                        ></v-text-field>


                        <VueEditor class="elevation-3 rounded-lg" v-model="datosRecurso.contenido" :editorToolbar="customToolbar"></VueEditor>
            


                        <div 
                            class="d-flex flex-column flex-sm-column flex-md-row flex-lg-row flex-xl-row  justify-space-between" >

                            <v-radio-group
                                v-model="datosRecurso.edopost"
                                row
                                :rules="[v => !!v || 'Seleccione privacidad']">
        
                                <v-radio
                                    label="Publico"
                                    value="publico"
                                    small
                                ></v-radio>
                                <v-radio
                                    label="Privado"
                                    value="privado"
                                    small
                                ></v-radio>
                            </v-radio-group>
    
                            <v-switch
                                v-model="datosRecurso.premium"
                                inset
                                label="Premium"
                                small
                                v-if="(subtipo === 'planeacion' || subtipo === 'materialdidactico' || subtipo === 'hojatrabajo' || subtipo === 'interactivo' || subtipo === 'otro')"

                            ></v-switch>
    
                            <v-switch
                                v-model="datosRecurso.recomendado"
                                inset
                                label="Recomendado"
                                small
                                v-if="subtipo === 'planeacion' || subtipo === 'materialdidactico' || subtipo === 'hojatrabajo' || subtipo === 'interactivo' || subtipo === 'otro'"

                            ></v-switch>
                        </div>
                        <!-- :class="[tagsValido ? 'mb-2 mt-2' : 'errorTagsBorder mb-2 mt-2']" -->
                        <input-tag 
                            v-model="datosRecurso.tags" 
                            class="mb-2 mt-2"
                        >
                        </input-tag>
                        <p><small>*Presione enter o ingrese una coma para agregar otro tag</small></p>
                        <div v-if="tagsValido === false" >
                            <p :class="[tagsValido ? '' : 'errorTags']">{{msjTag}}</p>
                        </div>
                        <div class="d-flex justify-center">
                            <v-btn 
                                :disabled="!esRecursoValido" dark 
                                class="red px-10 mb-5 btn_crearG" 
                                @click="validarFormularioRecurso"  
                            >Crear</v-btn>
                        </div>
                    </div>
                        <!-- </v-col> -->
                    <!-- </v-row>
                    <v-row class="d-flex justify-center" v-else> -->
                    <div v-else class="d-flex justify-center">
                        <div>

                            <v-progress-circular
                            :rotate="-90"
                            :size="150"
                            :width="15"
                            :value="porcentaje"
                            color="primary"
                            >
                                <div v-if="porcentaje < 100">
                                    <h3 v-if="porcentaje !== 0">{{ porcentaje }} %</h3>
                                    <Spinner v-else/>
                                </div>
                                <v-icon v-else  color="primary"  style="font-size: 70px;">
                                    mdi-checkbox-marked-circle
                                </v-icon>
                            </v-progress-circular>
                            <h5 class="text-center mb-3"> {{bytesTranferidos}} MBs / {{bytesTotal}} MBs</h5>
                        <!-- <div> -->
                            <v-btn
                                class="red px-10 mb-5 btn_crearG" 
                                @click="cargando = false"
                                block
                                :disabled="!updatedCollection"
                            >
                                <span v-if="updatedCollection">Listo</span>
                                <span v-else>Cargando...</span>
                            </v-btn>
                            <!-- <Spinner class="mb-6" v-else/> -->

                        <!-- </div> -->
                        </div>

                    </div>
                    <!-- </v-row> -->
                    <!-- </div> -->
                  </v-form>
              </div>
            </v-card>
        </v-dialog>
      

    
</v-col>

<!-- </div> -->