<v-container class="px-16  pr-10">
    <div style="width:100%; height:90px;"></div>
    <!-- <v-dialog  persistent   max-width="350" v-model="succesreg">
        <v-card>
            <v-card-title class="primary text-center">
                <h3 class="white--text">Registrate</h3>
            </v-card-title>
            <v-card-text class="text-center" >
               
                <h3 class="melon--text">  
                    Se a enviado un correo para confirmar 
                    <br />
                    <br />
                    <v-btn class="melon white--text" v-if="finish===true" @click="finalizaproceso()">
                        Finalizar
                    </v-btn>
                </h3>
            </v-card-text>
        </v-card>
    </v-dialog> -->
    <v-form ref="form"
    v-model="valid"
    lazy-validation
    >
        <div >
        <div class=" d-flex justify-center align-center">
              
               <subirImagen  @urlfoto="datosUsuarioR.urlImagen=$event" ejecimagen="uploadimg" />
            </div> 
                <v-select
                    v-model="datosUsuarioR.tipo"
                    :items="tipos"
                    :rules="[v => !!v || 'Seleccione un tipo']"
                    placeholder="Tipo:"
                    required
                    hide-details
                    cols="4" sm="4"
                    style="width: 28%;"
                ></v-select>
                <v-text-field
                    v-model="datosUsuarioR.nombre"
                    placeholder="Nombre:"
                    required
                    outlined
                    hide-details
                    :rules="nombreReglas"
                    @keyup.enter="validate"
                    class="mb-2"
                    

                ></v-text-field>
                <v-text-field
                    v-model="datosUsuarioR.apellido"
                    placeholder="Apellido:"
                    required
                    outlined
                    hide-details
                    :rules="apellidoReglas"
                    @keyup.enter="validate"
                    class="mb-2"
                ></v-text-field>

                <v-text-field
                    v-model="datosUsuarioR.correo"
                    placeholder="Email:"
                    required
                    outlined
                    hide-details
                    :rules="correoReglas"
                    @keyup.enter="validate"
                    class="mb-2"
                ></v-text-field>
                <v-text-field
                    v-model="confirmarCorreo"
                    placeholder="Confirmar Email:"
                    required
                    outlined
                    hide-details
                    :rules="correoReglas2"
                    @keyup.enter="validate"
                    class="mb-2"
                ></v-text-field>    
                <v-text-field
                    v-model="password"
                    :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPass ? 'text' : 'password'"
                    @click:append="showPass = !showPass"
                    placeholder="Contraseña:"
                    required
                    outlined
                    hide-details

                    :rules="passwordReglas"
                    @keyup.enter="validate"
                    class="mb-2"
                ></v-text-field>

                <v-text-field
                    v-model="confirmarPassword"
                    :append-icon="showPass2 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPass2 ? 'text' : 'password'"
                    @click:append="showPass2 = !showPass2"
                    placeholder="Confirmar Contraseña:"
                    required
                    outlined
                    hide-details
                    :rules="passwordReglas2"
                    @keyup.enter="validate" 
                    class="mb-2" 
                ></v-text-field>

                <v-btn v-if="!spinner"
                 dark block
                class="primary btn_crearCuenta" 
                @click="validate"> Crear cuenta</v-btn>

                <v-alert v-if="error" type="error" class="mt-2">
                    {{mensajeError}}
                </v-alert>
        </div>
        <!-- SPINNER -->
        <div v-if="spinner" class=" d-flex justify-center align-center">
            <div class=" sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>
        </div>

    </v-form>

    <div class="d-flex">
        <v-divider  class="mt-4 izq"/> 
            <span class="spn"> ó </span>
        <v-divider  class="mt-4 der"/>
    </div>

    <v-checkbox
        v-if="!spinner"
        class="purpleColor"
        v-model="checkbox"
        sm
        :rules="[v => !!v || 'You must agree to continue!']"
        label="Acepto términos y condiciones"
        required
    ></v-checkbox>
   
    <div>
    <v-btn v-if="!spinner"
        dark block
        class="blue  mb-2 redes" 
        @click="registroExterno('google')"
    >
        <v-icon left class="pl-4" size="28px">
            mdi-google
        </v-icon>
        <div class="redes_titulo d-flex justify-content align-center">
            <span>Registrate con Google</span>
        </div>
    </v-btn>
    <v-btn v-if="!spinner"
        dark block
        class="blue darken-4 redes" 
        @click="registroExterno('facebook')"
    >
        <v-icon left class="pl-4" size="28px">
            mdi-facebook
        </v-icon>
        <div  class="redes_titulo d-flex justify-content align-center">
            <span >Registrate con Facebook</span>
        </div>
    </v-btn>
    </div>

</v-container>