<div v-scroll="scrollmenu"> 
    <v-card >
        <v-card-title class="secondary white--text">
        
        <span class="viewmobil">  <v-icon  class="white--text"  @click.stop="drawer = !drawer" > mdi-menu </v-icon>
        </span>

      
          <img src="  images/logos/planeta_preescolar_bco.png" width="55" class="miniMovil" />
    
          &nbsp;  &nbsp; 
          
          <div class="menu-sec datamenu" v-if="datosUsuario.userlogin===true"  >
            <div class="primary white--text pa-1 " style="border-radius:10px; width:100%; max-width:210px;" >
            <v-avatar
      color="secondary"
      size="36" 
    >
     <img 
      v-if="datosUsuario.urlImagen" 
      :src="datosUsuario.urlImagen === 'none' || datosUsuario.urlImagen==='' ? 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png' : datosUsuario.urlImagen" width="100%" 
    />
    </v-avatar>

           <span class="vMmobilview" >{{ (datosUsuario.nombre+" "+ datosUsuario.apellido).substr(0,13) }}</span> 

         
       
            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  color="primary"
                  dark
                  v-bind="attrs"
                  v-on="on"
                  class="elevation-0"
                >
                ▼
                </v-btn>
              </template>
              <v-list  style="width:210px;" >
                <v-list-item
                  v-for="(item, index) in itemsmenumni"
                  :key="index"
                >
                  <v-list-item-title ><router-link class="linkmenuuser" :to="item.link">{{ item.title }} <span class="flechalink"> > </span></router-link></v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </div>

          </div>
        
      <div v-if="devtest===true">
        <v-btn @click="$store.commit('cambiastatusSesion',{login:false,lvl:0})">user sin registro</v-btn>
        <v-btn @click="$store.commit('cambiastatusSesion',{login:true,lvl:0})">user registro gratis</v-btn>
        <v-btn @click="$store.commit('cambiastatusSesion',{login:true,lvl:1})">user registro premium</v-btn>
        <v-btn @click="$store.commit('cambiastatusSesion',{login:true,lvl:2})">user registro administrador</v-btn>
    </div>

        <v-spacer class="miniMovil"></v-spacer>

        <div class="minimovil"></div>
        <div v-if="datosUsuario.userlogin===false" class="miniMovil">
        <router-link to="login" v-if="$validasesion($store,{ sinregistro:true })" class="white--text" style="text-decoration:none;  font-size:15px;">Iniciar sesión</router-link> &nbsp;&nbsp;&nbsp;
        <v-btn class="melon white--text pa-5"  style="border-radius: 30px; font-size:14px; text-transform:none;" v-if="$validasesion($store,{ sinregistro:true })" link to="registro">Registro </v-btn>
        </div>

        <div v-if="datosUsuario.userlogin===true" >
          <!-- <p>{{datosUsuario.estadoMembresia}}</p> -->
          <router-link v-show="datosUsuario.estadoMembresia !== 'active'" to="checkout" class="white--text menu-sec miniMovil" style="text-decoration:none; position:relative;" > 
            <img src="../../static/images/iconos/haztepremium.png" class="menu-sec-anim"  />
            <span class="vMmobilview "> <img src="../../static/images/iconos/haztepremium1.png" style="  left:-100px; 
              width:100px; 
              position:absolute;"  /></span>
          </router-link>
          &nbsp;
          <router-link to="#" class="white--text menu-sec miniMovil" style="text-decoration:none;">

          <v-icon class="white--text">mdi-bell</v-icon>
          &nbsp;
         <span class="vMmobilview"> Notificaciones</span>
        </router-link> 
          &nbsp;
        
        <router-link to="/configuracion" class="white--text menu-sec miniMovil" style="text-decoration:none;">
          &nbsp; 
          <v-icon class="white--text">mdi-brightness-7</v-icon> 
          &nbsp; 
          <span class="vMmobilview">  Configuración</span>
        </router-link> 
        &nbsp;

        <router-link to="/descargas" class="white--text menu-sec miniMovil" style="text-decoration:none;">
          &nbsp; 
          <v-icon class="white--text">mdi-download</v-icon> 
          &nbsp; 
          <span class="vMmobilview">  Descargas</span>
        </router-link> 
       <!-- &nbsp;
        <router-link to="configuracion" class="white--text" style="text-decoration:none;" >
  
              <img src="images/iconos/haztepremium.png" width="50" class="pa-0 ma-0" /><img src="images/iconos/haztepremium1.png" width="100"  class="pa-0 ma-0" />

        </router-link> 
        &nbsp;--> 
        

        </div>


        </v-card-title>
    </v-card   > 
    <v-card v-if="datosUsuario.userlogin===true && datosUsuario.vercorre===false" class="menuMovil">
      <v-card-title class="melon white--text">
    <v-icon class="white--text">mdi-email</v-icon> Su correo aun no esta confirmado
      </v-card-title>
    </v-card>
    <v-navigation-drawer
    v-model="drawer"
    absolute
    temporary
    class="secondary"
  >

    <v-list dense>
      <v-list-item
        v-for="item in itemsmenu"
        :key="item.title"
        link
        :to="item.link"
        v-if="$validasesion($store,item) && item.visible===true"
      >
        <v-list-item-icon >
          <v-icon class="white--text space_elements">{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title class="white--text">{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</div>