.menufixedtop{
    position:fixed; 
    width:100%; 
    max-width: 100%; 
    z-index:10;
}


.menu-sec{
    font-size:14px;
}
.hovermenu span{
 color:#ad227d;
}
.hovermenu:hover, .hovermenu:hover span, hovermenu:hover a{
    background-color:#ad227d;
    color:#fff;
}
.menu-sec-anim{
  
    position:absolute; top:-20px; left:-160px; width:60px;
}

.menu-sec-premium{
    position:absolute;
    bottom:-10px;   
}


.viewmobil{
    display: none;
}

.datamenu{
    width: 100%;
    max-width:350px;
    border-radius:10px;
    position:relative;
 
}


.linkmenuuser{
    color:#000;
    font-size:14px;
    text-decoration: none;
    font-weight: bold;


}
.linkmenuuser:hover .flechalink{
    font-weight: bold;
    display: block;

}
.flechalink{
    font-weight: bold; 
    right:10px; 
    top:20px;
    position:absolute; 
    display:none;
}

.btnmenu{
    cursor:pointer;
}

.miniMovilsp{
    display:none;
}

.v-application--is-ltr .v-list-item__icon:first-child{
    margin-right: 12px!important;
}

/*   vista mobil */
@media (max-width:959px){
.vMmobilview{
    display:none;
}

.viewmobil{
    display: block;
}

.menu-sec-anim{
    left:-70px; 

}

.datamenu{
    width: 100%;
    max-width:115px;
    border-radius:10px;
    position:relative;
 
}

}


@media (max-width:500px){
    .miniMovil{
        display:none;
    }
    .miniMovilsp{
        display:block;
    }
    
}