
.orden
{
    display: flex;
    justify-content: flex-end;
    /* background-color: ; */
}
.tabla_titulos{
 font-size: 14px;
}

/* .fila{
    background-color: red; 
    padding:0;
    margin:0; 
     padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px; 
} */
.usuarios{
    /* border-bottom: hotpink; */
    border-bottom: solid 1px green;
}

.tabla{
    overflow-x: scroll;
    overflow-y: hidden;
}
.nombres{
    width: 20rem;
}
.titulo_nombres{
    /* width: 500px!important; */
    width: 56.8rem;
    /* height:  500px!important; */

    /* margin-left: 7em!important;
    margin-right: 7em!important; */
    /* padding-left: 800px; */
    background-color: blue;
}

.titulosLista{
    width: 40%;
    background-color: darkmagenta;
}
.Lista{
    width: 18%;
    background-color: darkmagenta;
}

.calNumero{
    font-weight: bold;
    font-size: 18px;
    padding-top: 14px;
}