<v-card>
  <v-card-title class="primary white--text pl-20 pr-20">
    <h2 class="ml-20">{{nombredeGrupo}}</h2>
    <v-spacer class="miniMovil"></v-spacer>

    <div class="minimovil"></div>
    <div v-if="datosUsuario.userlogin===false" class="miniMovil">
      <router-link
        to="login"
        v-if="$validasesion($store,{ sinregistro:true })"
        class="white--text"
        style="text-decoration:none;  font-size:15px;"
        >Iniciar sesión</router-link
      >
      &nbsp;&nbsp;&nbsp;
      <v-btn
        class="melon white--text pa-5"
        style="border-radius: 30px; font-size:14px; text-transform:none;"
        v-if="$validasesion($store,{ sinregistro:true })"
        link
        to="registro"
        >Registro
      </v-btn>
    </div>

    <div v-if="datosUsuario.userlogin===true">
      <router-link
        v-show="datosUsuario.idMembresia === ''"
        to="checkout"
        class="white--text menu-sec miniMovil"
        style="text-decoration:none; position:relative;"
      >
        <img
          src="../../static/images/iconos/haztepremium.png"
          class="menu-sec-anim"
        />
        <span class="vMmobilview ">
          <img
            src="../../static/images/iconos/haztepremium1.png"
            style="  left:-100px; 
                            width:100px; 
                            position:absolute;"
        /></span>
      </router-link>
      &nbsp;
      <router-link
        to="#"
        class="white--text menu-sec miniMovil"
        style="text-decoration:none;"
      >
        <v-icon class="white--text">mdi-bell</v-icon>
        &nbsp;
        <span class="vMmobilview"> Notificaciones</span>
      </router-link>
      &nbsp;

      <router-link
        to="/configuracion"
        class="white--text menu-sec miniMovil"
        style="text-decoration:none;"
      >
        &nbsp;
        <v-icon class="white--text">mdi-brightness-7</v-icon>
        &nbsp;
        <span class="vMmobilview"> Configuración</span>
      </router-link>
      &nbsp;

      <router-link
        to="/descargas"
        class="white--text menu-sec miniMovil"
        style="text-decoration:none;"
      >
        &nbsp;
        <v-icon class="white--text">mdi-download</v-icon>
        &nbsp;
        <span class="vMmobilview"> Descargas</span>
      </router-link>
      <!-- &nbsp;
                      <router-link to="configuracion" class="white--text" style="text-decoration:none;" >
                
                            <img src="images/iconos/haztepremium.png" width="50" class="pa-0 ma-0" /><img src="images/iconos/haztepremium1.png" width="100"  class="pa-0 ma-0" />
              
                      </router-link> 
                      &nbsp;-->
    </div>
  </v-card-title>
  <v-card-text style="max-width:1200px; width:100%; margin:0 auto;">
<v-main>
  <v-row>
    <v-col cols="12" md="12">
      <v-card>
        <v-card-text>
          <v-row>
            <v-col cols="12" md="12" class="text-center">
            
            </v-col>

            <v-col cols="12" md="6">
              <h3 class="primary--text"><b>{{formatfecha}}</b></h3>
            </v-col>

            <v-col cols="12" md="6" class="text-right">
              <h4
                class="primary--text"
                @click="vercalendario=true"
                style="cursor:pointer;"
              >
                Ver otros días
                <v-icon class="primary--text" style="font-size:25px;"
                  >mdi-chevron-right</v-icon
                >
              </h4>
            </v-col>

            <v-col cols="12" md="6">
              <v-row>
                <v-col cols="12" md="6">
                  <h4 class="primary--text">
                    <b
                      ><v-switch
                        v-model="stclases"
                        :label="stclases ? 'en Clase' : 'Descanso'"
                      ></v-switch
                    ></b>
                  </h4>
                </v-col>
                <v-col cols="12" md="6"> </v-col>
              </v-row>
            </v-col>

            <v-col cols="12" md="6" class="text-right">
              <h4 style="cursor:pointer;" @click="fechahorario=true">
                {{formatfecha}}
                <v-icon class="primary--text">mdi-lead-pencil</v-icon>
              </h4>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
    <v-col cols="12" md="12">
      <v-card>
        <v-card-text>

          <v-data-table  :headers="cabeceraListaAlumnos" :items="cargaalumnos" >
<!------info de cabecera-->
    <template v-slot:top='{ item }'>
      <v-btn @click="addalumno=true" style="text-transform: none;" depressed class="white">              <v-avatar 
              size="35" 
              class="cyan" 
              
              style="cursor:pointer;"
              >
              <v-icon class="white--text">mdi-plus</v-icon>
                </v-avatar>
           Nuevo Alumno
          </v-btn>
  <v-btn @click="nuevalista=true" style="text-transform: none;" depressed class="white"
            ><v-avatar class="cyan" size="35"
              ><v-icon class="white--text">mdi-plus</v-icon></v-avatar
            >
            Nueva Lista</v-btn
          >
       
<v-btn style="text-transform: none;"  @click="importaGenerales()" depressed class="white" ><v-avatar class="cyan" size="35"><v-icon class="white--text">mdi-download</v-icon></v-avatar> Lista General</v-btn>


            </template>
<!------info de cuerpo----->
<template v-slot:item.action='{ item }'>
  <v-btn class="white" depressed><v-icon class="primary--text">mdi-pencil-outline</v-icon></v-btn>
</template>


<!---------Action Button-------------->

        <template v-slot:item.fotoAlumno='{item}'>
          <v-avatar size="60">
            <img :src="item.fotoAlumno"  width="100%" />
          </v-avatar>
        </template>

        <template v-slot:item.asistencia='{ item }'>
         
          <listasdetareas tipo="Asistencia"  > 
          </listasdetareas>  
          


        </template>

        <template v-slot:item.conducta='{ item }'>
          <listasdetareas tipo="Conducta"  > 
          </listasdetareas>  
        </template>



          </v-data-table>



        </v-card-text>
      </v-card>
      <v-btn
        class="melon white--text"
        style="text-transform: none;"
        @click="guardarysalir()"
        >Guardar y Salir</v-btn
      >
    </v-col>
  </v-row>

  <v-dialog v-model="fechahorario" max-width="1200px">
    <v-card>
      <v-card-text>
        <v-row class="pa-0">
          <v-col cols="12" md="12" class="text-center pa-0 pt-10">
            <h2 class="primary--text" style="font-size: 35px;">
              Horario de clases
            </h2>
          </v-col>
          <v-col cols="12" md="12" class="text-left pa-0">
            <label>Guardar cambios en:</label>
            <v-radio-group v-model="tpghoras" row class="text-center">
              <v-radio label="General" value="gg"></v-radio>
              <v-radio label="Solo este día" value="ged"></v-radio>
            </v-radio-group>
          </v-col>
          <v-col
            cols="12"
            md="12"
            class="text-left pa-0"
            v-for="(key,index) in cargaHoras"
            :key="'dia'+index"
          >
            <v-row class="pa-0">
              <v-col cols="12" md="12" class="pa-0">
                <v-row class="pa-0 pl-5">
                  <v-col cols="12" md="4" class="text-center"
                    ><v-text-field
                      v-if="key.sthorario===true"
                      v-model="key.materias"
                      label="Materia"
                      outlined
                    ></v-text-field>
                    <h2 v-if="key.sthorario===false" class="mt-4">
                      {{key.materias}}
                    </h2>
                  </v-col>

                  <v-col cols="12" md="3">
                    <v-row>
                      <v-col cols="12" md="3">De:</v-col
                      ><v-col
                        cols="12"
                        md="9"
                        style="border:solid 1px #ccc; border-radius:5px;"
                      >
                        <vue-timepicker
                          v-if="key.sthorario===true"
                          v-model="key.horaIni"
                          format="hh:mm A"
                          input-width="100%"
                        ></vue-timepicker>
                        <span v-if="key.sthorario===false"
                          >{{key.horaIni}}</span
                        >
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col cols="12" md="3">
                    <v-row>
                      <v-col cols="12" md="3">A:</v-col
                      ><v-col
                        cols="12"
                        md="9"
                        style="border:solid 1px #ccc; border-radius:5px;"
                      >
                        <vue-timepicker
                          v-if="key.sthorario===true"
                          v-model="key.horaFin"
                          format="hh:mm A"
                          input-width="100%"
                        ></vue-timepicker>
                        <span v-if="key.sthorario===false"
                          >{{key.horaFin}}</span
                        >
                      </v-col>
                    </v-row>
                  </v-col>

                  <v-col cols="12" md="2" class="pa-6">
                    <v-icon
                      class="primary--text"
                      style="cursor:pointer;"
                      v-if="key.sthorario===false"
                      @click="key.sthorario=true"
                      >mdi-lead-pencil</v-icon
                    >
                    <v-icon
                      class="primary--text"
                      style="cursor:pointer;"
                      v-if="key.sthorario===true"
                      @click="key.sthorario=false"
                      >mdi-check-bold</v-icon
                    >
                    <v-icon
                      class="primary--text"
                      style="cursor:pointer;"
                      v-if="key.sthorario===true"
                      @click="deletehorario(index)"
                      >mdi-delete</v-icon
                    >
                    <!---- <v-icon
                      class="primary--text"
                      style="cursor:pointer;"
                      v-if="key.sthorario===false"
                      >mdi-table-eye</v-icon
                    >---->
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>

          <v-col cols="12" md="12" class="text--left">
            <v-btn
              style="border-radius:50%; width:40px; height:60px;"
              class="cyan pa-0"
              @click="addhorario"
              ><v-icon class="white--text">mdi-plus</v-icon>
            </v-btn>
            <b class="primary--text" @click="addhorario">Nuevo horario</b>
          </v-col>
          <v-col cols="12" md="12" class="text-center">
            <v-btn
              class="melon white--text rounded-xl"
              @click="GuardarCambiosHorario()"
              style="text-transform:none;"
              >Guardar Cambios</v-btn
            >
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-dialog>
  <v-dialog v-model="addalumno" max-width="750px" >
    <v-card>
      <v-card-title class="text-center">
        <v-row>
          <v-col cols="12" md="10">
            <h3 class="primary--text"><b>Nuevo Alumno</b></h3>
            <v-spacer></v-spacer>
          </v-col>
          <v-col cols="12" md="2">
            <v-btn
              ><v-icon class="primary--text" @click="addalumno=false"
                >mdi-close</v-icon
              ></v-btn
            >
          </v-col>
        </v-row>
      </v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="12" md="6" class="text-center">
            <subirimagen
              ejecimagen="uploadimg"
              @updateImg="previewI=$event"
              titulo="Añadir imagen de alumno "
            ></subirimagen>
            <br />
            <label><b>Modo de registro</b></label>
            <v-radio-group v-model="alumnoselect.guardaen" row>
              <v-radio label="General" value="1"> </v-radio>
              <v-radio label="Solo este día" value="0"> </v-radio>
            </v-radio-group>
          </v-col>
          <v-col cols="12" md="6">
            <v-row>
              <v-col cols="12" md="12" class="pa-0">
                <v-text-field
                  label="Nombre"
                  outlined
                  v-model="alumnoselect.Nombre"
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="12" class="pa-0">
                <v-text-field
                  label="Apellido"
                  outlined
                  v-model="alumnoselect.Apellido"
                ></v-text-field>
              </v-col>
              <v-col cols="12" md="9" class="pa-0">
                <DatePicker
                  v-model="alumnoselect.fechaNacimiento"
                  :masks="masks"
                >
                  <template v-slot="{ inputValue, inputEvents }">
                    <input
                      style="border:rgb(36,35,35)160,155,155) 1px solid; border-radius:5px; padding:10px;"
                      :value="inputValue"
                      placeholder="Fecha de nacimiento"
                      v-on="inputEvents"
                    />
                  </template>
                </DatePicker>
              </v-col>
              <v-col cols="12" md="3" class="pt-5">
                {{calculaedad}}
              </v-col>
              <v-col cols="12" md="12" class="pa-0">
                <v-radio-group v-model="alumnoselect.genero" row>
                  <v-radio label="Niña" value="niño"></v-radio>
                  <v-radio label="Niño" value="niña"></v-radio>
                </v-radio-group>
              </v-col>
              <v-col cols="12" md="12" class="pa-0">
                <v-text-field
                  label="Teléfono de emergencia"
                  v-model="alumnoselect.telefono"
                  outlined
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" md="12" class="pa-0 text-center">
            <v-btn
              class="melon white--text  rounded-xl "
              style="text-transform:none; "
              @click="guardarAlumno('g')"
              >Guardar</v-btn
            >
            <v-btn
              class="primary white--text rounded-xl text-transform:none;"
              style="text-transform:none; "
              @click="guardarAlumno('gc')"
              >Guardar y crear nuevo</v-btn
            >
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-dialog>

  <v-dialog v-model="vercalendario" mx-width="400px">
    <DatePicker
      v-model="fecha"
      mode="date"
      :masks="masks"
      :is-inline="true"
      is-expanded
      @input="changeDate"
      @dblclick="dbclick()"
    ></DatePicker>
  </v-dialog>

  <v-dialog v-model="nuevalista" max-width="1000px">
    <v-card>
      <v-card-title class="text-center">
        <v-row>
          <v-col cols="12" md="10">
            <h3 class="primary--text"><b>Nuevo Lista</b></h3>
            <v-spacer></v-spacer>
          </v-col>
          <v-col cols="12" md="2">
            <v-btn
              ><v-icon class="primary--text" @click="nuevalista=false"
                >mdi-close</v-icon
              ></v-btn
            >
          </v-col>
        </v-row>
      </v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="12" md="12">
            <v-text-field outlined label="Nombre de Lista" v-model="crealista.nombreLista" ></v-text-field>
          </v-col>
          <v-col cols="12" md="12">
            <h3>Seleccione modo</h3>
        </v-col>
        <v-col cols="12" md="12" style="border:solid #ccc 1px;">
          <v-item-group
          v-model="crealista.selectLista"
          mandatory
          >
          <v-row>
            <v-col cols="12" md="3" class="pa-0 text-center" style="cursor:pointer;" >
              <v-item v-slot="{ active, toggle }" value="semaforo" >
                <v-card
                :color="active ? 'primary white--text' : ''"
                class="d-flex text-center pa-10"
                max-width="100%"
                @click="toggle"
              >
             <v-row>
               <v-col cols="12" md="12">
              <img src="images/iconos/semaforo.png" width="100%" />
              
              </v-col>
              <v-col cols="12" md="12" style="text-align: center;">
                <b>Semáforo</b>
                </v-col>
              

                <v-scroll-y-transition>
                  <div
                    v-if="active"
                    class="display-3 flex-grow-1 text-center"
                  >
                </div>
              </v-scroll-y-transition>
           
            </v-row>

               </v-card>
              
              </v-item>
            </v-col>
            <v-col cols="12" md="3" class="pa-0 text-center" style="cursor:pointer;" >
              <v-item v-slot="{ active, toggle }" value="SiNo" >
                <v-card
                :color="active ? 'primary white--text' : ''"
                class="d-flex text-center pa-10"
                max-width="100%"
                @click="toggle"
              >
             <v-row>
               <v-col cols="12" md="12">
              <img src="images/iconos/SiNo.png" width="100%" />
              
              </v-col>
              <v-col cols="12" md="12" style="text-align: center;">
                <b>Si / No</b>
                </v-col>
              

                <v-scroll-y-transition>
                  <div
                    v-if="active"
                    class="display-3 flex-grow-1 text-center"
                  >
                </div>
              </v-scroll-y-transition>
           
            </v-row>

               </v-card>
              
              </v-item>
            </v-col>
           <v-col cols="12" md="3" class="pa-0 text-center" style="cursor:pointer;" >
              <v-item v-slot="{ active, toggle }" value="rango" >
                <v-card
                :color="active ? 'primary white--text' : ''"
                class="d-flex text-center pa-10"
                max-width="100%"
                @click="toggle"
              >
             <v-row>
               <v-col cols="12" md="12">
              <img src="images/iconos/rango.png" width="100%" />
              
              </v-col>
              <v-col cols="12" md="12" style="text-align: center;">
                <b>Rango 1/10</b>
                </v-col>
              

                <v-scroll-y-transition>
                  <div
                    v-if="active"
                    class="display-3 flex-grow-1 text-center"
                  >
                </div>
              </v-scroll-y-transition>
           
            </v-row>

               </v-card>
              
              </v-item>
            </v-col>
            <v-col cols="12" md="3" class="pa-0 text-center" style="cursor:pointer;" >
              <v-item v-slot="{ active, toggle }"  value="OnOff" >
                <v-card
                :color="active ? 'primary white--text' : ''"
                class="d-flex text-center pa-10"
                max-width="100%"
                @click="toggle"
              >
             <v-row>
               <v-col cols="12" md="12">
              <img src="images/iconos/OnOff.png" width="100%" />
              
              </v-col>
              <v-col cols="12" md="12" style="text-align: center;">
                <b>ON / OFF</b>
                </v-col>
              

                <v-scroll-y-transition>
                  <div
                    v-if="active"
                    class="display-3 flex-grow-1 text-center"
                  >
                </div>
              </v-scroll-y-transition>
           
            </v-row>

               </v-card>
              
              </v-item>
            </v-col>
          </v-row>
            </v-item-group>
            </v-col>
            <v-col cols="12" md="12">
              <v-radio-group row v-model="crealista.guardaen">
                <v-radio label="Solo este día">
                </v-radio>
                <v-radio label="Todos los días"></v-radio>
              </v-radio-group>
            </v-col>
          </v-col>
          <v-col cols="12" md="12" class="text-center">
            <v-btn class="melon white--text pa-5 rounded-xl" style="text-transform: none;" @click="creaLista()">Crear Lista</v-btn>
          </v-col>
          </v-row>
      </v-card-text>
    </v-card>
  </v-dialog>
</v-main>
</v-card-text>
</v-card>