.btn_login{
    letter-spacing: 0em!important;
    /* justify-content: center; */
    text-indent: 0em!important;
    /* text-transform: uppercase; */
    text-transform: none!important;
    /* align-items: flex-start; */
}

.redes_titulo{
    margin-inline: auto;
    /* height: 46px; */
    font-size: 17px;
    /* font-weight: bold; */
  }