<!-- <div  justify="center">  -->
    <v-card class="mt-10">
        <v-card-text>
          <v-container>
            <div  >
                <v-form ref="form"
                v-model="valid"
                lazy-validation>
                    <div >
                        <v-text-field
                            v-model="dataLogin.correo"
                            placeholder="Correo:"
                            required
                            single-line
                            solo
                            :rules="correoReglas"
                            ref="inputCorreo"
                        ></v-text-field>
                        <v-text-field
                            v-model="dataLogin.password"
                            :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                            :type="showPass ? 'text' : 'password'"
                            @click:append="showPass = !showPass"
                            placeholder="Contraseña:"
                            required
                            single-line
                            solo
                            :rules="passwordReglas"
                            ref="inputPass"
                        ></v-text-field>
                        <div class="">
                            <v-btn v-if="!spinner"
                                dark block
                                class="pink darken-4 px-10 mb-3" 
                                @click="validate"
                            > Iniciar sesión</v-btn>

                            <div>
                                <v-btn v-if="!spinner"
                                dark block
                                class="blue px-10 mb-2" 
                                @click="loginExterno('google')">Iniciar con Google</v-btn>
                            </div>
                            <div>
                               
                            <v-btn v-if="!spinner"
                                dark block
                                class="blue darken-4 px-10" 
                                @click="loginExterno('facebook')">Iniciar con Facebook</v-btn>
                            </div>
                            
                        </div>
                        <a @click ="restablecerPassword" class="">Restablecer contraseña</a>
                        <v-alert v-if="error" type="error" class="mt-3">
                            {{mensajeError}}
                        </v-alert>
                    </div>
                </v-form>
                <!-- SPINNER -->
                <!-- <div v-if="spinner" class=" d-flex justify-center align-center mt-4">
                    <div class=" sk-chase">
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                        <div class="sk-chase-dot"></div>
                    </div>
                </div> -->
                <Spinner v-if="spinner" />
                      
            </div>
          </v-container>
        </v-card-text>
      </v-card>
<!-- </div> -->