<!-- <div  justify="center">  -->
    <v-card class="mt-6">
        <v-card-text>
          <v-container>
            <div  >
                <v-form ref="form"
                v-model="valid"
                lazy-validation>
                    <div >
                        <v-text-field
                            v-model="dataLogin.correo"
                            placeholder="Correo:"
                            required
                            single-line
                            solo
                            :rules="correoReglas"
                            ref="inputCorreo"
                            @keyup.enter="validate"
                        ></v-text-field>
                        <v-text-field
                            v-model="dataLogin.password"
                            :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                            :type="showPass ? 'text' : 'password'"
                            @click:append="showPass = !showPass"
                            placeholder="Contraseña:"
                            required
                            single-line
                            solo
                            :rules="passwordReglas"
                            ref="inputPass"
                            @keyup.enter="validate"
                        ></v-text-field>
                        <div class="">
                            <v-btn v-if="!spinner"
                                dark block
                                class="primary mb-3 btn_login" 
                                @click="validate"
                            > Iniciar sesión</v-btn>


                            

                            <v-btn v-if="!spinner"
                                dark block
                                class="blue  mb-2 btn_login" 
                                @click="loginExterno('google')"
                            >
                                <v-icon left size="28px" class="pl-4">
                                    mdi-google
                                </v-icon>
                                <div  class="redes_titulo d-flex justify-content align-center">
                                    <span >Iniciar con Google</span>
                                </div>
                            </v-btn>

                            <v-btn v-if="!spinner"
                                dark block
                                class="blue darken-4 btn_login " 
                                @click="loginExterno('facebook')"
                            >
                                <v-icon left size="28px" class="pl-4">
                                    mdi-facebook
                                </v-icon>
                                <div class="redes_titulo d-flex justify-content align-center">
                                    <span>Iniciar con Facebook</span>
                                </div>
                            </v-btn>

                            <!-- <div>
                                <v-btn v-if="!spinner"
                                dark block
                                class="blue mb-2" 
                                @click="loginExterno('google')">Iniciar con Google</v-btn>
                            </div>
                            <div>
                               
                            <v-btn v-if="!spinner"
                                dark block
                                class="blue darken-4" 
                                @click="loginExterno('facebook')">Iniciar con Facebook</v-btn>
                            </div> -->
                            
                        </div>
                        <a @click ="dialogpassword = true" class="">Restablecer contraseña</a>
                        <v-alert v-if="error" type="error" class="mt-3">
                            {{mensajeError}}
                        </v-alert>
                    </div>
                </v-form>
                <Spinner v-if="spinner" />
                      
            </div>
          </v-container>
        </v-card-text>

        <v-dialog v-model="dialogpassword"  persistent max-width="600">
            <v-card class=" px-10">
                <div class="">
                    
                    <h3 class="primary--text text-center mb-3" v-if="dataLogin.correo !== ''">{{dataLogin.correo}}</h3>
                    <h3 class="primary--text text-center mb-3" v-else>Correo</h3>
                </div>
                <div>
                    <div>
                        <p style="font-size: 16px;"v-if="dataLogin.correo !== ''">
                            {{msjrestablecer}} 
                            <!-- <span style="color:blue;">{{dataLogin.correo}}</span> -->
                        </p>
                        <v-form ref="formReset" v-model="validreset" lazy-validation v-else>
                            <div >
                                <v-text-field
                                    v-model="passwordreset"
                                    placeholder="Correo:"
                                    required
                                    single-line
                                    solo
                                    :rules="correoReglas"
                                    @keyup.enter="validateReset"
                                ></v-text-field>
                                
                            </div>
                            <div v-if="errorRestablecerP">
                                <p>{{msjrestablecer}}</p>
                            </div>
                            <div v-else="msjrestablecer !== 'Este correo no se encuentra registrado, asegurese de que el correo sea el correcto'">
                                <p>{{msjrestablecer}}</p>
                            </div>
                        </v-form>
                    </div> 
                    <Spinner v-if="spinnerreset" />
                    <div class="d-flex justify-center" v-else>
                        <v-btn class="melon white--text mb-2 mr-2 btn_crearG" @click="validateReset()">Enviar</v-btn>
                        <v-btn class="melon white--text mb-2 btn_crearG" @click="cerrarPassword()">Cerrar</v-btn>
                    </div>
                </div>

            </v-card>
        </v-dialog>


    </v-card>
<!-- </div> -->