<template>

    <v-btn 
    class="melon white--text" 
    @click="abrirConfigD"
    >
    Descargas
  </v-btn>


  <!-- DIALOG PARA GESTIONAR LAS DESCARGAS POR MES DE CADA PLAN -->
  <v-dialog v-model="dialogDes" persistent max-width="755">
      
    <v-card class=" px-10">
      <v-card-title class=" justify-space-between">
          <v-btn icon text small color="purple"  >
          </v-btn>
          <h3 class="primary--text ">Datos de descargas</h3>
          <v-btn icon text small color="purple" @click="dialogDes = false" >
              <v-icon>mdi-window-close</v-icon>
          </v-btn>
      </v-card-title>
      
      <div class="mt-5" >

        <v-form ref="formConfigDes" v-model="validConfigD" lazy-validation>
        <div>
          <div class=" d-flex justify-center align-center">
            </div> 
                <!-- <v-select
                    v-model="datosUsuarioR.tipo"
                    :items="tipos"
                    :rules="[v => !!v || 'Seleccione un tipo']"
                    placeholder="Tipo:"
                    required
                    
                    outlined
                    hide-details
                    cols="4" sm="4"
                    style="width: 40%; margin-bottom: 10px;"
                ></v-select> -->
                <v-text-field
                  v-model="editDescargasConf.free"
                  label="Plan free:"
                  required
                  outlined
                  dense
                  height="20px"
                  type="number"
                  :rules="[v => !!v || 'Valor es requerido']"
                  @keyup.enter="validateConfDes"
                  class="mb-2"
                ></v-text-field>
                <v-text-field
                    v-model="editDescargasConf.mensual"
                    label="Plan mensual:"
                    required
                    outlined
                    dense
                    height="20px"
                    type="number"
                    :rules="[v => !!v || 'Valor es requerido']"
                    @keyup.enter="validateConfDes"
                    class="mb-2"
                ></v-text-field>

                <v-text-field
                    v-model="editDescargasConf.trimestral"
                    label="Plan trimestral:"
                    required
                    outlined
                    dense
                    height="20px"
                    type="number"
                    :rules="[v => !!v || 'Valor es requerido']"
                    @keyup.enter="validateConfDes"
                    class="mb-2"
                ></v-text-field>
                <v-text-field
                    v-model="editDescargasConf.semestral"
                    label="Plan semestral:"
                    required
                    outlined
                    dense
                    height="20px"
                    type="number"
                    :rules="[v => !!v || 'Valor es requerido']"
                    @keyup.enter="validateConfDes"
                    class="mb-2"
                ></v-text-field> 
                <v-text-field
                    v-model="editDescargasConf.anual"
                    label="Plan anual:"
                    required
                    outlined
                    dense
                    height="20px"
                    type="number"
                    :rules="[v => !!v || 'Valor es requerido']"
                    @keyup.enter="validateConfDes"
                    class="mb-2"
                ></v-text-field>   
               

                <div class="d-flex justify-center pb-3">
                  <v-btn 
                  dark 
                  class="primary btn_crearCuenta mr-3" 
                  @click="validateConfDes">Guardar</v-btn>
                  <v-btn 
                  dark 
                  class="primary btn_crearCuenta" 
                  @click="dialogDes = false">Cancelar</v-btn>
                </div>

                <!-- <v-alert v-if="error" type="error" class="mt-2">
                    {{mensajeError}}
                </v-alert> -->
        </div>
      
    </v-form>

        
      </div>
    </v-card>
  </v-dialog>
  <!-- DIALOG PARA GESTIONAR LAS DESCARGAS POR MES DE CADA PLAN -->

</template>