<span class="bntstyle">

  
   <v-menu offset-y>
    <template v-slot:activator="{ on, attrs }">
      <v-btn
      color="secondary"
      v-bind="attrs"
      v-on="on"
      class="elevation-0"
      style="text-transform: none;"
      >
        <v-badge
        color="melon"
        :content="noticount"
        class="white--text"
        overlap
      >
    
          <v-icon class="white--text">mdi-bell</v-icon>  
     
      </v-badge>
          <span class="vMmobilview">  Notificaciones</span>
    </v-btn>

    </template>
    <v-list  style="width:100%; max-width:500px;" >
      <v-list-item
        v-for="(item, index) in itemsnotifi"
        :key="index"
      >
        <v-list-item-title >
<v-row>


          <v-col cols="12" md="1" class="text-center">
            <v-icon class="primary--text">{{item.Ad.Ze.proto.mapValue.fields.icon.stringValue }}</v-icon>
          </v-col>


          <v-col cols="12" md="7"  class="text-center">
            {{ item.Ad.Ze.proto.mapValue.fields.title.stringValue }}  
          </v-col>


            <v-col cols="12" md="2"  class="text-center">           
            <v-btn class="white text-center" @click="notivisto(item)" depressed>
              <v-icon class="primary--text text-center" >mdi-close-circle-outline</v-icon>
            </v-btn>
            </v-col>


            <v-col cols="12" md="1"  class="text-center  text-center">
              <v-btn class="white  text-center" depressed  v-if="item.Ad.Ze.proto.mapValue.fields.link" @click="abrirLink(item)"> <v-icon class="primary--text">mdi-play</v-icon></v-btn>
          </v-col>

        </v-row>
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</span>