
<div class="grey lighten-5 mx-16 mt-5">
    <!-- <v-btn @click="fullScreenUsuarios = true">Gestionar usuarios</v-btn> -->
    <v-row no-gutters>
      <v-col cols="12" :class="fullScreenUsuarios ? 'principal ' : 'p'   ">
        <div  >
          <div class="nav primary">
              <div><button></button></div>
              <div><h1 class="white--text">Gestor de usuarios</h1></div>              
              
                  <div v-if="!fullScreenUsuarios">
                    <v-btn icon text small 
                      color="white" @click="fullScreenUsuarios = true"
                      class="pr-2"
                    >
                        <v-icon > mdi-arrow-expand</v-icon>
                    </v-btn>
                  </div>
                  <div v-else>
                    <v-btn icon text small 
                      color="white" @click="fullScreenUsuarios = false"
                      class="pr-2"
                    >
                        <v-icon >mdi-window-close </v-icon>
                    </v-btn>
                  </div>
          </div>
          <div>

              <v-card>
                  <v-card-title>
                    
                    <v-spacer></v-spacer>
                    <v-text-field
                      v-model="search"
                      append-icon="mdi-magnify"
                      label="buscar"
                      single-line
                      hide-details
                    ></v-text-field>
                    <v-spacer></v-spacer>

                  </v-card-title>
                  <v-data-table
                    :headers="titulos"
                    :items="usuarios"
                    :search="search"
                    :items-per-page="fullScreenUsuarios ? 10 : 3"
                  >
                      <template v-slot:item.action2="{ item }" class="red">
                          <v-avatar size="50" > 
                              <v-img
                              :src="item.urlImagen === 'none' || item.urlImage ? 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png' : item.urlImagen"
                              alt="foto"
                              ></v-img>
                          </v-avatar>
                      </template>
                      <!-- <template v-slot:item.actions="{ item }">
                          <v-btn class="error"><v-icon>mdi-delete</v-icon></v-btn>
                      </template> -->

                      <template v-slot:item.actions="{ item }">
                          <v-icon
                            small
                            class="mr-2"
                            @click="abrirVentana(item)"
                          >
                            mdi-pencil
                          </v-icon>
                          <!-- <v-icon
                            small
                            @click="eliminarUsuario(item)"
                          >
                            mdi-delete
                          </v-icon> -->
                        </template>
                  </v-data-table>
              </v-card>
          </div>

      </div>
      </v-col >
      <v-col cols="12">
        <v-row>
          <v-col cols="6">
            <div  :class="fullScreenUsuarios2 ? 'principal ' : 'p'">
              <div class="nav primary">
                  <div><button></button></div>
                  <div><h1 class="white--text">Gestor de Pagos</h1></div>              
                  
                      <div v-if="!fullScreenUsuarios2">
                        <v-btn icon text small 
                          color="white" @click="fullScreenUsuarios2 = true"
                          class="pr-2"
                        >
                            <v-icon > mdi-arrow-expand</v-icon>
                        </v-btn>
                      </div>
                      <div v-else>
                        <v-btn icon text small 
                          color="white" @click="fullScreenUsuarios2 = false"
                          class="pr-2"
                        >
                            <v-icon >mdi-window-close </v-icon>
                        </v-btn>
                      </div>
              </div>
              <div>
    
                  <v-card>
                      <v-card-title>
                        
                        <v-spacer></v-spacer>
                        <v-text-field
                          v-model="search"
                          append-icon="mdi-magnify"
                          label="buscar"
                          single-line
                          hide-details
                        ></v-text-field>
                        <v-spacer></v-spacer>
    
                      </v-card-title>
                      <v-data-table
                        :headers="titulos"
                        :items="usuarios"
                        :search="search"
                        
                        
                      >
                          <template v-slot:item.action2="{ item }" class="red">
                              <v-avatar size="50" > 
                                  <v-img
                                  :src="item.urlImagen === 'none' || item.urlImage ? 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png' : item.urlImagen"
                                  alt="foto"
                                  ></v-img>
                              </v-avatar>
                          </template>
                          <!-- <template v-slot:item.actions="{ item }">
                              <v-btn class="error"><v-icon>mdi-delete</v-icon></v-btn>
                          </template> -->
    
                          <template v-slot:item.actions="{ item }">
                              <v-icon
                                small
                                class="mr-2"
                                @click="abrirVentana(item)"
                              >
                                mdi-pencil
                              </v-icon>
                              <!-- <v-icon
                                small
                                @click="eliminarUsuario(item)"
                              >
                                mdi-delete
                              </v-icon> -->
                            </template>
                      </v-data-table>
                  </v-card>
              </div>
    
            </div>
          </v-col>
          <v-col  cols="6">
            <div  :class="fullScreenUsuarios3 ? 'principal ' : 'p'   ">
              <div class="nav primary">
                  <div><button></button></div>
                  <div><h1 class="white--text">Gestor de usuarios</h1></div>              
                  
                      <div v-if="!fullScreenUsuarios3">
                        <v-btn icon text small 
                          color="white" @click="fullScreenUsuarios3 = true"
                          class="pr-2"
                        >
                            <v-icon > mdi-arrow-expand</v-icon>
                        </v-btn>
                      </div>
                      <div v-else>
                        <v-btn icon text small 
                          color="white" @click="fullScreenUsuarios3 = false"
                          class="pr-2"
                        >
                            <v-icon >mdi-window-close </v-icon>
                        </v-btn>
                      </div>
              </div>
              <div>
    
                  <v-card>
                      <v-card-title>
                        
                        <v-spacer></v-spacer>
                        <v-text-field
                          v-model="search"
                          append-icon="mdi-magnify"
                          label="buscar"
                          single-line
                          hide-details
                        ></v-text-field>
                        <v-spacer></v-spacer>
    
                      </v-card-title>
                      <v-data-table
                        :headers="titulos"
                        :items="usuarios"
                        :search="search"
                        
                      >
                          <template v-slot:item.action2="{ item }" class="red">
                              <v-avatar size="50" > 
                                  <v-img
                                  :src="item.urlImagen === 'none' || item.urlImage ? 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png' : item.urlImagen"
                                  alt="foto"
                                  ></v-img>
                              </v-avatar>
                          </template>
                          <!-- <template v-slot:item.actions="{ item }">
                              <v-btn class="error"><v-icon>mdi-delete</v-icon></v-btn>
                          </template> -->
    
                          <template v-slot:item.actions="{ item }">
                              <v-icon
                                small
                                class="mr-2"
                                @click="abrirVentana(item)"
                              >
                                mdi-pencil
                              </v-icon>
                              <!-- <v-icon
                                small
                                @click="eliminarUsuario(item)"
                              >
                                mdi-delete
                              </v-icon> -->
                            </template>
                      </v-data-table>
                  </v-card>
              </div>
    
            </div>
          </v-col>
        </v-row>
      </v-col>
  </v-row>


  <!-- DIALOG -->
  <v-dialog v-model="dialog" max-width="500px">
                  
    <v-card>
      <v-card-title>
        <span class="headline">Editar usuario</span>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-form ref="form"
            v-model="valid"
            lazy-validation
          >
            <v-row>
              <v-col cols="12" sm="6" md="6">
                <v-text-field 
                  v-model="usuarioEditable.nombre" 
                  label="Nombre:"
                  :rules="nombreReglas"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                <v-text-field 
                  v-model="usuarioEditable.apellido" 
                  label="Apellido:"
                  :rules="apellidoReglas"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                  <v-select
                  v-model="usuarioEditable.tipo"
                  :items="tipos"
                  :rules="[v => !!v || 'Seleccione un tipo']"
                  label="Tipo:"
                  ></v-select>
              </v-col>
              <!-- <v-col cols="12" sm="6" md="4">
                <v-text-field v-model="usuarioEditable.correo" label="Correo"></v-text-field>
              </v-col> -->
              <!-- <v-col cols="12" sm="6" md="4">
                <v-text-field v-model="usuarioEditable.lvluser" label="lvluser"></v-text-field>
              </v-col> -->
              <v-col cols="12" sm="6" md="6">
                  <v-select
                      v-model="usuarioEditable.lvluser"
                      :items="lvls"
                      :rules="nivelReglas"
                      label="Cuenta:"
                  ></v-select>
                  <!-- {{usuarioEditable.lvluser}} -->
              </v-col>
            </v-row>
          </v-form>
          <!-- <v-alert v type="error" class="mt-3">
            LLENE TODOS LOS CAMPOS
          </v-alert> -->
        </v-container>
      </v-card-text>
      

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="red lighten-1"  @click="dialog=false">Cancelar</v-btn>
        <v-btn color="green lighten-1"  @click="validarFormulario">Guardar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  </div>
