<div class="pa-0">
  <v-card>
    <v-toolbar
      flat
      color="primary"
      dark
    >
      <v-toolbar-title>Administrador |
        
      <v-icon title="usuarios registrados">mdi-account</v-icon>:{{usuarios.length}}   <v-btn class="melon white--text" title="descargar o actualizar usuarios" @click="getElement()" >
        <v-icon>{{usuarios.length===0 ? 'mdi-lan-disconnect' : 'mdi-lan-connect'}}</v-icon>
        <v-icon> {{usuarios.length===0 ? '' : 'mdi-reload'}} </v-icon>
      </v-btn>
      
      |
      
      <v-icon title="notificaciones creadas">mdi-bell</v-icon>:{{notifilist.length}}  <v-btn class="melon white--text" title="descargar o actualizar notificaciones" @click="cargaNotificaciones()" >
        <v-icon>{{notifilist.length===0 ? 'mdi-lan-disconnect' : 'mdi-lan-connect'}}</v-icon>
        <v-icon> {{notifilist.length===0 ? '' : 'mdi-reload'}} </v-icon>
      </v-btn>

      |

        <v-icon title="Landing page creadas" >mdi-web</v-icon>: {{sitiosLp.length}} <v-btn class="melon white--text" title="descargar o actualizar paginas de aterrizaje creadas" @click="cargaSitios()" >
          <v-icon>{{sitiosLp.length===0 ? 'mdi-lan-disconnect' : 'mdi-lan-connect'}}</v-icon>
          <v-icon> {{sitiosLp.length===0 ? '' : 'mdi-reload'}} </v-icon>
        </v-btn> 
      |

    </v-toolbar-title>

    </v-toolbar>
    <v-tabs>
      <v-tab>
        <v-icon left>
          mdi-account
        </v-icon>
       Gestor de usuarios
      </v-tab>
      <v-tab>
        <v-icon left>
          mdi-bell
        </v-icon>
       Notificaciones
      </v-tab>
      <v-tab>
        <v-icon left>
          mdi-account-supervisor-circle
        </v-icon>
      Suscripciones
      </v-tab>
      <v-tab>
        <v-icon left>
        mdi-web
        </v-icon>
      Landing Page
      </v-tab>
      <v-tab>
        <v-icon left>
        mdi-application-cog
        </v-icon>
      Configuración Sitio
      </v-tab>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
          
           <gestordeusuarios :usuar="usuarios" />

          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            
            <notificaciones :userobject="optionUsuarios" />

          </v-card-text>
        </v-card>
      </v-tab-item>

      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <suscripciones />
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
          
            <landingpage  :sitios="sitiosLp"/>
           
          
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
          
            <configral />
           
          
          </v-card-text>
        </v-card>
      </v-tab-item>
    
    </v-tabs>
  </v-card>
  <div style="width:100%; height:300px;"></div>
  </div>
