
<div class="mx-15">
  <div v-if="!spinner">
    <h2 class="text-center primary--text">¡Conoce nuestros planes!</h2>
    <p style="font-size:14px;">Planeta Preescolar es una plataforma educativa con diferentes secciones, creada para toda la comunidad de educadoras en donde podrás descargar materiales que te ayudarán en tu labor diaria. Tienes la opción de descargar 1 material diario en forma gratuita con el simple hecho de llenar la ficha de registro.</p>
    <p style="font-size:14px;">
      Al ser Premium podrás disfrutar de más descargas y de contenido exclusivo además de material didáctico, administrar tus grupos, generar tu calendario y llevar un control de todas tus publicaciones que subas en este portal web. El pago lo puedes hacer con tarjeta de credito o debito y en efectivo. Al suscribirte con tarjeta el cobro se hará en forma automática una vez terminando el plazo seleccionado y puede aplicar a meses sin intereses. Esto te convierte en Suscriptor(a) Vip. Puedes cancelar cuando lo desees.
      O puedes pagar en efectivo y al momento de terminar tu periodo renovarlo nuevamente o convertirte en Suscriptor(a) Vip.</p>
  </div>
  <h2 v-else class="text-center">Redireccionando...</h2>

  <v-container>
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">
            
            </th>
            <th class="text-left">
              <img
              src="../../static/images/anual.png"
              width="120"
              height="120"
              class=""
            />

            </th>
            <th class="text-left">
              <img
              src="../../static/images/trimestral.png"
              width="120"
              height="120"
              class=""
            />

            </th>
            <th class="text-left">
              <img
              src="../../static/images/semestral.png"
              width="120"
              height="120"
              class=""
            />

            </th>
            <th class="text-left">
              <img
              src="../../static/images/anual.png"
              width="120"
              height="120"
              class=""
            />

            </th>
            <th class="text-left">
              <img
              src="../../static/images/anual.png"
              width="120"
              height="120"
              class=""
            />

            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-right">(Prom 30 Mens) Material Free</td>
            <td class="text-center">1 diario</td>
            <td class="text-center">1 diario</td>
            <td class="text-center">1 diario</td>
            <td class="text-center">1 diario</td>
            <td class="text-center">1 diario</td>
          </tr>
          <tr>
            <td class="text-right">Material Premium Mensual</td>
            <td class="text-center">0</td>
            <td class="text-center">50</td>
            <td class="text-center">60</td>
            <td class="text-center">70</td>
            <td class="text-center">80</td>
          </tr>
          <tr>
            <td class="text-right">Total Descargas Mensuales</td>
            <td class="text-center">30</td>
            <td class="text-center">80</td>
            <td class="text-center">90</td>
            <td class="text-center">100</td>
            <td class="text-center">110</td>
          </tr>
          <tr>
            <td class="text-right">Sección Administrativa</td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
          </tr>
          <tr>
            <td class="text-right">Blog Educativo</td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
          </tr>
          <tr>
            <td class="text-right">Directorio de Servicios/td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
          </tr>
          <tr>
            <td class="text-right">Memorias de una Educadora</td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
          </tr>
          <tr>
            <td class="text-right">Participación en Foro Educativo</td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
          </tr>
          <tr>
            <td class="text-right">Lectura de Planeaciones</td>
            <td class="text-center"> </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
          </tr>
          <tr>
            <td class="text-right">Edición de Planeaciones</td>
            <td class="text-center"> </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
          </tr>
          <tr>
            <td class="text-right">Administración de Grupos</td>
            <td class="text-center"> </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
          </tr>
          <tr>
            <td class="text-right">Promoción Suscriptoras VIP</td>
            <td class="text-center"> </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
          </tr>
          <tr>
            <td class="text-right">Meses Sin Intereses</td>
            <td class="text-center"> </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
            <td class="text-center">◉ </td>
          </tr>
          <tr>
            <td class="text-right"></td>
            <td class="text-center"> 

              <b>$0.00 MXN</b>   <br />
              <!--<v-btn class="melon white--text" to="/" >Regístrate</v-btn>-->
            
            
            </td>
            <td class="text-center"> 
              <b>$490.00 MXN</b>   <br />
              <v-btn class="melon white--text" @click="crearSesionSuscripcion('mensual')">Tarjeta</v-btn>  <br /><br />
              <v-btn class="melon white--text" @click="formasPago('mensual')" >Efectivo</v-btn>  
            </td>
            <td class="text-center"> 
              <b>$1,290.00 MXN</b>   <br />
              <v-btn class="melon white--text" @click="crearSesionSuscripcion('trimestral')">Tarjeta</v-btn>   <br /><br />
              <v-btn class="melon white--text" @click="formasPago('trimestral')" >Efectivo</v-btn>  
              
            </td>
            <td class="text-center">  
              <b>$2,190.00 MXN</b>   <br />
              <v-btn class="melon white--text" @click="crearSesionSuscripcion('semestral')">Tarjeta</v-btn>   <br /><br />
              <v-btn class="melon white--text" @click="formasPago('semestral')" >Efectivo</v-btn>    
            </td>
            <td class="text-center"> 
              <b>$3,490.00 MXN</b>   <br />
              <v-btn class="melon white--text" @click="crearSesionSuscripcion('anual')">Tarjeta</v-btn>   <br /><br />
              <v-btn class="melon white--text" @click="formasPago('anual')" >Efectivo</v-btn>    
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>


</v-container>
  <v-dialog v-model="loaderpage" max-width="200">
    <v-card>
      <v-card-text class="text-center">
        <v-progress-circular
        :size="70"
        :width="7"
        color="purple"
        indeterminate
      ></v-progress-circular>
      </v-card-text>
    </v-card>
  </v-dialog>

    <!--<v-dialog v-model="dialogFormasPago"  persistent max-width="500">
      <v-card class=" px-10">
        <v-card-title class=" justify-space-between">
            <v-btn icon text small color="purple" @click="" >
            </v-btn>
            <h2 class="primary--text ">Formas de pago</h2>
            <v-btn icon text small color="purple" @click="dialogFormasPago = false;" >
                <v-icon>mdi-window-close</v-icon>
            </v-btn>
        </v-card-title>
        <div>
          <div>
            <p>suscripción {{tipoSuscripcion}}</p>
          </div> -->
          <!-- <div class="d-flex justify-center">
            <v-btn class="melon white--text mb-2 btn_crearG" @click="checkPago()">CHECK MP</v-btn>
          </div> 

          <div class="d-flex justify-center">
            <v-btn class="melon white--text mb-2 btn_crearG" @click="crearSesionSuscripcion()">Stripe</v-btn>
          </div>

          <div id="button-checkout" class="d-flex justify-center pb-3">
            <a 
              :href="urlMP" 
              class="v-btn v-btn--contained theme--light v-size--default melon mt-3 white--text"
              style="text-transform: none; border-radius: 12px;"
            >
              MercadoPago
            </a>
          </div>

          <div id="button-checkout" class="d-flex justify-center pb-3">
            <a 
              :href="urlsusMP" 
              class="v-btn v-btn--contained theme--light v-size--default melon mt-3 white--text"
              style="text-transform: none; border-radius: 12px;"
            >
              MercadoPago suscripción
            </a>
          </div>
          

        </div>

        - <div class="mt-8" v-if="!completado && !spinner">
        
        </div>
        
        <Spinner v-else/> 
      </v-card>
  </v-dialog>--->


    

    <v-dialog v-model="dialogMP" fullscreen>
      <v-card class=" px-10">
        <v-card-title class=" justify-space-between">
            <v-btn icon text small color="purple" @click="" >
            </v-btn>
            <h2 class="primary--text ">Mercadopago</h2>
            <v-btn icon text small color="purple" @click="dialogMP = false; completado = true;" >
                <v-icon>mdi-window-close</v-icon>
            </v-btn>
        </v-card-title>

        <div class="mt-8" v-if="!completado && !spinner">

          <v-form
            ref="formMP"
            v-model="validMP"
            lazy-validation
          >
              
            <v-text-field 
                class=""  
                label="Nombre"
                outlined 
                v-model="datosMP.nombre"
                :rules="[v => !!v || 'Escriba el nombre']"
            ></v-text-field>
            <v-text-field 
                class=""  
                outlined
                label="Apellidos" 
                v-model="datosMP.apellido"
                :rules="[v => !!v || 'Escriba los apellidos']"
            ></v-text-field>
            <v-text-field 
                class=""  
                outlined
                label="Correo"
                v-model="datosMP.correo"
                :rules="correoReglas"
            ></v-text-field>
            <div class="pb-7 mt-3">
              <v-btn block class="primary" @click="validarMP()">Pagar</v-btn>
            </div>
                
          </v-form>


        </div>
        <div v-else-if="completado && !spinner">
          <div class="d-flex flex-column justify-center"  >
            <h4 class="text-center mb-4">¡Descarga la clave para poder pagar en OXXO!</h4>
            <v-icon  style="font-size: 60px;" color="success">
              mdi-checkbox-marked-circle
            </v-icon>
            <!-- <div> -->
              <a class="align-self-center" :href="linkMP" target="_blank">Documento MercaPago</a>
            <!-- </div> -->
          </div>
        </div>
        <Spinner v-else/>
      </v-card>
  </v-dialog>


</div>
