/* //Variables */

* {

    box-sizing: border-box;
  
  }

  /* .stripe-card {
    width: 300px;
    border: 1px solid grey;
  }
  .stripe-card.complete {
    border-color: green;
  }
  .credit-card-inputs.complete {
    border: 2px solid green;
  } */

  /* .stripe-card {
    width: 300px;
    border: 1px solid grey;
  } */

  /* .stripe-card {
    width: 100%;
  } 
  .stripe-card.complete {
    border-color: green;

  } 
  /* .stripe-card.complete {
    border-color: green;
  } */

  /* .credit-card-inputs.complete {
    border: 2px solid green;
  } */
  
  /* body {
  
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  
    font-size: 16px;
  
    -webkit-font-smoothing: antialiased;
  
    display: flex;
  
    justify-content: center;
  
    align-content: center;
  
    height: 100vh;
  
    width: 100vw;
  
  } */

  /* .credit-card-inputs.complete {
    border: 2px solid green;
  } */
  .fotomini{
    /* height:"150"; */
     /* width:calc(100% + 50px); */
    width: 100%;
    height: 200px;
  }

  .detalles_compra{
    height: 450px;
  }

  .textoinfo{
    font-size: 13px;
  }

  /* SELECCION DE TIPO DE PAQUETE*/
  /* .price-table-container {
    display: flex;
    box-shadow: 0 2px 5px 0 rgba(60, 66, 87, .08), 0 1px 1px 0 rgba(0, 0, 0, .12);
  } */
  
  .price-table-container section {
    border-radius: 6px;
    padding: 32px 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: #ffffff;
  }
  .v-btn{
    letter-spacing: 0em;
    /* justify-content: center; */
    text-indent: 0em;
    /* text-transform: uppercase; */
    text-transform: none;
    /* align-items: flex-start; */
  }
  
  /* .price-table-container section:first-of-type {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 1px solid #efefef;
  }
  
  .price-table-container section:last-of-type {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  } */
  
  /* .price-table-container button {
    background-color: #F0F0F0;
    color: #000000;
    border-radius: 64px;
    padding-top: 8px;
    padding-bottom: 8px;
  } */
  
  .price-table-container button:hover {
    background-color: #d6d6d6;
    filter: none;
  }
  
  .price-table-container .name {
    color:black;
    font-size: large;
    margin-top: 12px;
    text-align: center;
  }
  
  .price-table-container .price {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 12px;
    text-align: center;
  }
  
  .price-table-container .duration {
    color: #969696;
    font-size: smaller;
    text-align: center;
  }
  
  .completed-view-section {
    background-color: white;
    border-radius: 16px;
    padding: 20px;
  }



  /* #payment_form */
  
  
  
  #payment_form {
  
    width: 30vw;
  
    min-width: 500px;
  
    align-self: center;
    /* border: 1px solid rgba(50, 50, 93, 0.1); */
  
    /* box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07); 
  
    border-radius: 7px; */

    /* box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 5px 0px rgba(0, 0, 0, 0.12)!important; */
  
  
    padding: 40px;
  
  }
  
  .stripe-element {
  
    border-radius: 6px;
  
    margin-bottom: 6px;
  
    padding: 12px;
  
    border: 1px solid rgba(50, 50, 93, 0.1);
  
    height: 44px;
  
    font-size: 16px;
  
    width: 100%;
  
    background: white;
  
  }
  
  .result-message {
  
    line-height: 22px;
  
    font-size: 16px;
  
  }
  
  .result-message a {
  
    color: rgb(89, 111, 214);
  
    font-weight: 600;
  
    text-decoration: none;
  
  }
  
  .hidden {
  
    display: none;
  
  }
  
  #card-error {
  
    color: rgb(105, 115, 134);
  
    text-align: left;
  
    font-size: 13px;
  
    line-height: 17px;
  
    margin-top: 12px;
  
  }
  
  .stripe-card {
  
    border-radius: 4px 4px 4px 4px ;
    /* border-radius: inherit; */
  
    padding: 12px;
  
    border: 1px solid rgba(50, 50, 93, 0.1);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 5px 0px rgba(0, 0, 0, 0.12)!important; 
  
    height: 48px;
    /* min-height: inherit; */
  
    width: 100%;
  
    background: white;
  
  }
  
  #payment-request-button {
  
    margin-bottom: 32px;
  
  }
  
  /* //Buttons and links  */
  
  .boton_checkout {
  
    background: #5469d4;
  
    color: #ffffff;
  
    font-family: Arial, sans-serif;
  
    border-radius: 0 0 4px 4px;
  
    border: 0;
  
    padding: 12px 16px;
  
    font-size: 16px;
  
    font-weight: 600;
  
    cursor: pointer;
  
    display: block;
  
    transition: all 0.2s ease;
  
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  
    width: 100%;
  
  }
  
  .boton_checkout:hover {
  
    filter: contrast(115%);
  
  }
  
  .boton_checkout:disabled {
  
    opacity: 0.5;
  
    cursor: default;
  
  }
  
  /* spinner/processing state, errors  */
  
  .spinner,
  
  .spinner:before,
  
  .spinner:after {
  
    border-radius: 50%;
  
  }
  
  .spinner {
  
    color: #ffffff;
  
    font-size: 22px;
  
    text-indent: -99999px;
  
    margin: 0px auto;
  
    position: relative;
  
    width: 20px;
  
    height: 20px;
  
    box-shadow: inset 0 0 0 2px;
  
    -webkit-transform: translateZ(0);
  
    -ms-transform: translateZ(0);
  
    transform: translateZ(0);
  
  }
  
  .spinner:before,
  
  .spinner:after {
  
    position: absolute;
  
    content: "";
  
  }
  
  .spinner:before {
  
    width: 10.4px;
  
    height: 20.4px;
  
    background: #5469d4;
  
    border-radius: 20.4px 0 0 20.4px;
  
    top: -0.2px;
  
    left: -0.2px;
  
    -webkit-transform-origin: 10.4px 10.2px;
  
    transform-origin: 10.4px 10.2px;
  
    -webkit-animation: loading 2s infinite ease 1.5s;
  
    animation: loading 2s infinite ease 1.5s;
  
  }
  
  .spinner:after {
  
    width: 10.4px;
  
    height: 10.2px;
  
    background: #5469d4;
  
    border-radius: 0 10.2px 10.2px 0;
  
    top: -0.1px;
  
    left: 10.2px;
  
    -webkit-transform-origin: 0px 10.2px;
  
    transform-origin: 0px 10.2px;
  
    -webkit-animation: loading 2s infinite ease;
  
    animation: loading 2s infinite ease;
  
  }
  
  @-webkit-keyframes loading {
  
    0% {
  
      -webkit-transform: rotate(0deg);
  
      transform: rotate(0deg);
  
    }
  
    100% {
  
      -webkit-transform: rotate(360deg);
  
      transform: rotate(360deg);
  
    }
  
  }
  
  @keyframes loading {
  
    0% {
  
      -webkit-transform: rotate(0deg);
  
      transform: rotate(0deg);
  
    }
  
    100% {
  
      -webkit-transform: rotate(360deg);
  
      transform: rotate(360deg);
  
    }
  
  }
  
  @media only screen and (max-width: 600px) {
  
    #payment_form {
  
      width: 80vw;
  
    }
  
  }

  @media (max-width: 575.98px) { 
    .textoinfo{
      font-size: 16px;
    }
    .title_Form{
      font-size: 18px;
    }

   }

  /* // Small devices (landscape phones, 576px and up) */
  @media (max-width: 767.98px) { 
  .textoinfo{
    font-size: 16px;
  }
  .title_Form{
    font-size: 10px;
  }
 }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 991.98px) { 

  .textoinfo{
    font-size: 13px;
  }
  .title_Form{
    font-size: 24px;
  }
 }



