<v-card>
    <v-card-title class="primary--text">
       {{  Object.keys(datosblog).length===0 ? 'Crea una nueva entrada' : 'Editor de blog'  }} 
    </v-card-title>
    <v-card-text>

        <v-text-field placeholder="Titulo de blog" v-model="datosblog.titulo"></v-text-field>
        <v-select placeholder="Categoría" :items="categoriasblog"  v-model="datosblog.categoria"></v-select>

        <VueEditor v-model="datosblog.cuerpo"></VueEditor>
        <v-row>
            <v-col cols="12" md="3">
                <v-switch label="Publicado"></v-switch>
            </v-col>
            <v-col  cols="12" md="3">
                <v-switch label="Verificado"></v-switch>
            </v-col> 
            <v-col  cols="12" md="3">
                        <v-btn class="melon white--text" style="text-transform: none;" @click="crearBlog()" >Guardar y Finalizar</v-btn>
            </v-col>
        </v-row>
    </v-card-text>
</v-card>