<div>
  <div hidden>
    <input type="file" @change="change" ref="fileupload" />
  </div>
  <v-btn
    class="pa-10 mx-6 "
    color="purple lighten-5"
    fab
    dark
    @click="focus"
    v-if="tpimg==='avatar'"
  >
    <div v-if="!imagen">
      <v-icon color="pink darken-4" style="font-size: 80px;">mdi-plus</v-icon>
    </div>
    <div v-else>
      <v-avatar size="80">
        <v-img :src="urlImagenPrevia" alt="foto"></v-img>
      </v-avatar>
    
    </div>
  </v-btn>

  <v-btn
    max-width="210"
    class="pa-16"
    color="purple lighten-5"
    dark
    @click="focus"
    v-if="tpimg==='post'"
    style="overflow: hidden;"
  >
    <div v-if="!imagen">
      <v-avatar size="80" color="#48c9d9">
        <v-icon color="#3fefdb" style="font-size: 80px;">mdi-plus</v-icon>
      </v-avatar>
    </div>
    <div v-else>
      <div>
        <v-img :src="urlImagenPrevia" alt="foto" width="210"></v-img>
       
      </div>
    </div>
  </v-btn>

  <h3 class="text-center mt-3">{{titulo}}</h3>
</div>