/*css de buscador */
.backbuscador{
    background-image:url('/images/nubes.png');
    background-size: 100%;
    background-position: bottom;
}



.modbuscador{
    border-radius:15px;
}

.btn{
    cursor: pointer;
}

.mySelect .v-input__control .v-input__slot{
    background-color: #000;
    color:red;
}

