<v-card class="secondary ma-3  modbuscador" >
    <v-card-text class="backbuscador text-center white--text pa-12 rounded-2">

        <h1>¡Muchos recursos para ti!</h1>
        <p>Encuentra cantos, imágenes, planeaciones, todo para ti, educadora</p>
        <v-row>
            <v-col cols="12" md="2"></v-col>
            <v-col cols="12" md="2" class="white pa-0" style="border-radius:10px 0  0 10px;">
            <v-select label="Todos los recursos"  class="pl-2"   :items="recursos" >

            </v-select>
            </v-col>
            <v-col cols="12" md="5" class="white pa-0">
                <v-text-field class="buscador"></v-text-field>
            </v-col>
            <v-col cols="12" md="1" class="melon pa-5" style="border-radius:0 10px  10px 0;">
                <v-icon class="white--text" large >mdi-magnify</v-icon>
            </v-col>
            <v-col cols="12" md="2"></v-col>
        </v-row>
      


    </v-card-text>
</v-card>