<v-card>
  <v-card-text>

    <v-switch
    v-model="edit"
    :label="edit===true ? 'Terminar edición' : 'Editar'"
  ></v-switch>


    <v-btn v-if="edit===true" class="melon white--text" @click="editlista=true"  ><v-icon>mdi-playlist-edit</v-icon>Editar cabecera</v-btn>
   <!----<v-btn v-if="edit===true" class="melon white--text" @click="editalumno=true"  ><v-icon>mdi-playlist-edit</v-icon>Editar Alumnos Generales</v-btn>--->

    <v-dialog v-model="editlista" max-width="700">
      <v-card>
        <v-card-text>
          <v-list dense>
            <v-list-item-group>


                <v-list-item v-for="(key,index) in cabecera" :key="'lis'+index" >
                  <v-row>

                    <v-col cols="12" md="1">
                      {{index+1}}.- 
                    </v-col>
                    <v-col cols="12" md="5" class="pa-0">
                     <v-text-field v-model="key.text" ></v-text-field> 
                    </v-col>
                    <v-col cols="12" md="4">
                      {{key.value}}
                  </v-col>
                  <v-col cols="12" md="2">

                    <v-btn v-if="key.value!=='fotoAlumno' && key.value!=='Nombre' && key.value!='conducta' && key.value!=='asistencia'" class="red white--text" @click="deleteCabecera(key,index)"><v-icon>mdi-close</v-icon></v-btn>
                  
                  </v-col>
                </v-row>
                </v-list-item>
            </v-list-item-group>  
          </v-list>
          <v-row>
            <v-col cols="12" md="12" class="text-center">
              <v-btn class="primary white--text" @click="editlista=false">Finalizar</v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>



  <v-data-table  :headers="cabecera" :items="listadoAlumnos" :hide-default-footer="true" >
    <!------info de cabecera-->
   

     <!---------Action Button-------------->
            <template v-slot:item.fotoAlumno='{item}'>

              <v-avatar v-if="edit===false" size="60">
                <img :src="item.fotoAlumno"  width="100%" />
              </v-avatar>

              <v-avatar v-if="edit===true" size="60" @click="editarAlumno(item)"> 
                <v-btn class="white"    depressed ><v-icon class="primary--text" >mdi-account-edit</v-icon>
                </v-btn>
              </v-avatar>
             
            </template>

            <template v-slot:item.Nombre='{ item }'>
              
              {{item.Nombre}} {{item.Apellido}}

            </template>

            <template v-slot:item.asistencia='{ item }' >
              <listasdetareas tipo="asistencia" @respuesta="updatedata(item,$event,'asistencia')" :valor="item.asistencia"></listasdetareas>
            </template>
            <template v-slot:item.conducta='{ item } ' >

             <listasdetareas tipo="conducta" @respuesta="updatedata(item,$event,'conducta')"  :valor="item.conducta" ></listasdetareas>
    
            </template>
            <template v-slot:item.sino='{ item }' >
              <listasdetareas tipo="sino" @respuesta="updatedata(item,$event,'sino')"  :valor="item.sino"></listasdetareas>
    
            </template>
            <template v-slot:item.onoff='{ item }' >
  
              <listasdetareas tipo="onoff" @respuesta="updatedata(item,$event,'onoff')"  :valor="item.onoff"></listasdetareas>
            </template>
            <template v-slot:item.semaforo='{ item }' >
    
              <listasdetareas tipo="semaforo" @respuesta="updatedata(item,$event,'semaforo')"  :valor="item.semaforo"></listasdetareas>
            </template>
    
              <template v-slot:item.rango='{ item }' >
                <listasdetareas tipo="rango" @respuesta="updatedata(item,$event,'rango')"  :valor="item.rango"></listasdetareas>
            </template>

            <template v-slot:no-data>
              <v-alert :value="true" color="primary" class="white--text" >
    <v-btn class="info" style="text-transform:none;" @click="addAlumno()"><v-icon   class="white--text">mdi-account-plus</v-icon> &nbsp;  Agregar nuevo alumno</v-btn>
    <v-btn  class="info" style="text-transform:none;" @click="addAlumnos()"><v-icon   class="white--text">mdi-download</v-icon>  &nbsp;   Importar alumnos</v-btn>

              </v-alert>
            </template>

              </v-data-table>
            </v-card-text>
            </v-card>