<div class="">
  <!-- <div class="d-flex align-center justify-space-between "> -->
  <div><h3 class="primary--text ml-10 titulo">Mis Grupos</h3></div>
  <!-- <div><v-btn class="orange mr-15">Ver más</v-btn></div> -->
  <!-- </div> -->
  <div>
    <v-container fluid class="">
      <v-row class="mb-6" no-gutters>
        <!-- BOTON PARA CREAR GRUPO -->
        <v-col cols="12" md="3" sm="6" class=" mb-3">
          <v-card
            class="pa-2 mx-2 d-flex justify-center align-center"
            height="150px"
            style="background-color: #F2EAF1"
          >
            <v-btn
              color=""
              text
              @click="dialog = true"
              fab
              dark
              x-large
              class="m-0 p-0 btn_add_img"
            >
              <div>
                <v-icon class="icon_add" style="font-size: 80px;"
                  >mdi-plus</v-icon
                >
              </div>
            </v-btn>
          </v-card>
          <div>
            <div class=" ml-3">
              <h4>Agregar Aula</h4>
              <p>Materia</p>
            </div>
          </div>
        </v-col>
        <!-- GRUPOS CREDADOS----->
        <v-col
          v-for="(grupo, index) in grupos"
          :key="index"
          cols="12"
          md="3"
          sm="6"
          class=" mb-3"
        >
          <div class="" style="font-size: 13px;" @click="gruposelect(grupo)">
            <v-card
              class=" grey lighten-3 d-flex justify-center align-center mx-2"
              height="150px"
            >
              <v-img :src="grupo.urlImagen" class="fotomini"></v-img>
            </v-card>
          </div>
          <div>
            <div class=" ml-3 textos">
              <h4>{{grupo.nombreGrupo}}</h4>
              <p class="datosGrupo">{{grupo.adicionales}}</p>
              <p class="datosGrupo">{{grupo.cicloEscolar}}</p>
              <p class="datosGrupo">{{grupo.totalAlumnos}} alumnos</p>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
  <!------verGRupo--->
  <v-dialog v-model="viewGroup"  persistent fullscreen>
   
        <grupoDetalles
          :datain="selectGrupo"
          :edovista="viewGroup"
          @cerrarventana="GuardarCambiosAlumnos($event)"
        />
      
  </v-dialog>
  <!-- DIALOG DE REGISTRO DE GRUPOS -->
  <v-dialog v-model="dialog" persistent max-width="755">
    <v-card class=" px-10">
      <v-card-title class=" justify-space-between">
        <v-btn icon text small color="purple" @click="">
          <!-- <v-icon>mdi-arrow-left-bold</v-icon> -->
        </v-btn>
        <h2 class="primary--text ">Nuevo grupo</h2>
        <v-btn icon text small color="purple" @click="dialog = false">
          <v-icon>mdi-window-close</v-icon>
        </v-btn>
      </v-card-title>
      <div class="mt-8">
        <v-row>
          <v-col class="" cols="5">
            <div class="text-center">
              <subirImagen
                ejecimagen="uploadimg"
                @updateImg="previewImg=$event"
                titulo="Imagen de grupo"
              />
            </div>

            <!-- BOTON DE PARA ELEGIR FOTO  -->
          </v-col>

          <v-col cols="7" class="pr-7">
            <div class="">
              <v-text-field
                v-model="datosNuevoGrupo.nombreGrupo"
                placeholder="Nombre grupo*"
                required
                outlined
                @keyup.enter="guardarGrupo()"
              ></v-text-field>
              <v-text-field
                v-model="datosNuevoGrupo.adicionales"
                placeholder="Adicionales [p/e nombre escuela]"
                required
                outlined
                @keyup.enter="guardarGrupo()"
              ></v-text-field>
              <v-text-field
                v-model="datosNuevoGrupo.cicloEscolar"
                placeholder="Ciclo escolar / periodo"
                required
                outlined
                @keyup.enter="guardarGrupo()"
              ></v-text-field>
              <span class="sub2">*Campo obligatorio</span>
            </div>
          </v-col>
        </v-row>
        <div class="d-flex justify-center">
          <v-btn dark class="red px-10 mb-5 btn_crearG" @click="guardarGrupo()">
            Crear grupo</v-btn
          >
        </div>
      </div>
    </v-card>
  </v-dialog>
</div>
