<v-card>
      <v-card-title class="primary white--text">
        Crea Notificaciones  <v-spacer></v-spacer> 
      </v-card-title>
      <v-card-text>
        <div style="display:none;">{{cargausuarios}}</div>
       
      <v-row>
        <v-col cols="12" md="12">
        <v-select v-model="usernotselect.user" :items="optionUsuarios" >
        </v-select>
      </v-col>
      <v-col cols="12" md="12">
        <v-text-field v-model="usernotselect.text" label="mensaje de notificación" ></v-text-field>
       </v-col>
       <v-col cols="12" md="8">
        <v-select v-model="usernotselect.icon" :items="iconos"></v-select>
      </v-col>
      <v-col cols="12" md="4">
          <v-icon>{{usernotselect.icon}}</v-icon>
      </v-col>
      <v-col cols="12" md="12">
        <v-text-field v-model="usernotselect.link" value="/" label="http:// | https:// | /enlacedelsitio"></v-text-field>
      </v-col>
      <v-col cols="12" md="12">
       
        <v-btn class="melon white--text" style="text-transform: none;" @click="enviarNotificacion()">Enviar</v-btn>
        <v-chip
      class="ma-2"
      color="red"
      text-color="white"
      v-if="mensajeerror!==''"
    >
    {{mensajeerror}}
  </v-chip>

  <v-chip
  class="ma-2"
  color="green"
  text-color="white"
  v-if="mensajesucces!==''"
>
{{mensajesucces}}
</v-chip>
      </v-col>
      
    </v-row>
      </v-card-text>

    </v-card>