<v-row class="pa-3 ma-0">

<v-col cols="12" md="10" >
    <h2 class="primary--text">{{titulo}}</h2>
    <p>{{subtitulos}}</p>
</v-col>
<v-col cols="12" md="2" style="text-align: right;">
   <v-btn v-if="linkmas!=='#'" class="melon white--text rounded-pill" :to="'/'+linkmas"  >Ver más</v-btn> 
</v-col>
<v-col cols="12" md="3" v-for="(key,index) in blogpost" :key="'post'+index">
    <v-card >
        <v-card-text class="pa-2">
            <v-skeleton-loader v-if="key.urlImagen===''"
            class="mx-auto "
            max-width="100%"
            type="image"
          ></v-skeleton-loader>
            <img v-if="key.urlImagen!==''" :src="key.urlImagen"   width="100%" />            
            <h2>{{key.titulo}}</h2>
            <p>{{key.fecha}}</p>

        </v-card-text>
    </v-card>
</v-col>

</v-row>