<v-card class="px-2 mx-3 elevation-5"> 
    <v-card-text class="text_card_refle">
        <h2 ><b>Reflexion de la semana</b></h2>
        
        <v-row class="text_card_refle">
            <v-col cols="12" md="11" sm="11" class="text_card_refle">
                <p v-if="reflexion[0]" style="font-size:16.5px; text-align:left;" v-html="cargarecomendacion">
                    
                </p>
            </v-col>
            <v-col cols="12" md="1" sm="1" class="text_card_refle">
                <img src="/images/iconos/globo-estrellas.png" width="100%" />
            </v-col>

            <!-- <v-col cols="12" md="12" sm="12" class="text-right"  >

                <v-btn class="melon white--text rounded-pill text-right" to="/reflexiones" style="text-transform: none;"  >Ver más</v-btn> 

            </v-col> -->
        </v-row>
    </v-card-text>

</v-card>