<v-card class="pa-5 ma-5 elevation-5"> 
    <v-card-text>
        <h1 ><b>Reflexion de la semana</b></h1>
        <br />
        <v-row>
        <v-col cols="12" md="11">
            <p style="font-size:21px; text-align:justify;">
        Loremipsumd olorsitamet,consetetur sadipscingelitr,seddiamnonum yeirmodtempor inviduntut laboreetdolo remagnaali quyamerat,seddia mvoluptua Atveroe oset accusametjusto duodol oresetearebum. Stetclitakas dgubergren,noseatakimatasanctusestLoremipsum dolorsitamet
            </p>
        </v-col>
        <v-col cols="12" md="1">
         <img src="/images/iconos/globo-estrellas.png" width="100%" />
            </v-col>
</v-row>
    </v-card-text>
</v-card>