.fotomini{
    /* height:"150"; */
     /* width:calc(100% + 50px); */
     width: 100%;
     height: 150px;
}

.textos > p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.texto_mb{
    margin-bottom:0!important;
}

.vue-input-tag-wrapper .input-tag .remove {
    color: white!important;
}

.errorTags{
    color: #ff5252 !important;
    font-size: 12px;
}
.errorTagsBorder{
    /* color: #ff5252 !important; */
    /* border: #ff5252 !important; */
    border: 1px solid #ff5252!important;
    background-color: #fff;
    overflow: hidden;
    padding-left: 4px;
    padding-top: 4px;
    cursor: text;
    text-align: left;
    -webkit-appearance: textfield;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.v-btn{
    letter-spacing: 0em;
    /* justify-content: center; */
    text-indent: 0em;
    /* text-transform: uppercase; */
    text-transform: none;
    /* align-items: flex-start; */
  }

  .tags_input .input-tag {
    background-color: #ad227d!important;
    border: 1px solid white!important;
    color: white!important;
  }
  .vue-input-tag-wrapper .input-tag > span{
    background-color: #ad227d!important;
    border: 1px solid white!important;
    color: white!important;
  }
  
  .vue-input-tag-wrapper .input-tag .remove {
    cursor: pointer;
    font-weight: bold;
    color: #638421;
  }

/* .vue-input-tag-wrapper
.input-tag {

    background-color: #ad227d!important;

    border-radius: 2px;
    border: 1px solid white!important;
    color: white!important;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 3px;
} */

.tags_input .input-tag{
    background-color: #ad227d!important;
    border: 1px solid white!important;
    color: white!important;
}

small{
  font-size: 13px;
  color: darkgrey;
}