<v-row class="mb-6" no-gutters>
    <!-- <v-col cols="12" md="4" sm="6"> -->
        <slot  name="header"></slot>
    <!-- </v-col> -->
    <v-col v-for="(key,index) in listaR" 
    :key="'post'+index" cols="12" md="3" sm="6" class=" mb-3 ">

        <v-card
            class=" grey lighten-3 d-flex justify-center align-center mx-2"
            height="150px"
        >
        <!-- v-if="key.urlImagen!==''"  -->
            <v-img
            :src="key.urlImagen === '' || key.urlImagen === 'none'  ? 'images/logos/planeta_preescolar_logo.png' : key.urlImagen"
            contain
            class="fotomini"
            @click="mostrarRecursoEdit(key)"
            
            ></v-img>
        </v-card>

        <div>
            <div class=" ml-3 textos">
                <h4>{{key.titulo}}</h4>
                <p :class="key.edopost==='privado' ? 'red--text texto_mb' : 'black--text texto_mb'">{{key.edopost}}</p>
               
                <v-chip 
                color="primary"
                dark  
                v-if="datosUsuario.adminlvl==='1'" >
                {{key.nombreCreador}}
                </v-chip>

                <!-- <p class="texto_mb">{{ fechaVisual(key.fecha) }}</p> -->
                    
                <!-- <p class="datosGrupo">{{el.cicloEscolar}}</p>
                
                    <p class="datosGrupo">{{el.total}} alumnos</p> -->

            </div>
        </div>

    </v-col>


    <v-dialog v-model="editRecurso" persistent max-width="755">
        
        <v-card class=" px-10">
          <v-card-title class=" justify-space-between">
              <v-btn icon text small color="purple" @click="" >
              </v-btn>
              <h2 class="primary--text ">{{tituloEditar}}</h2>
              <v-btn icon text small color="purple" @click="editRecurso = false" >
                  <v-icon>mdi-window-close</v-icon>
              </v-btn>
          </v-card-title>
          <div class="mt-8">
              <v-form
                lazy-validation
                ref="formRecursoEdit"
                v-model="esRecursoEditValido"
              >
                <div v-if="subtipo ==='planeacion'">

                    <v-file-input
                        outlined
                        label="Archivo WORD"
                        prepend-icon="mdi-paperclip"
                        accept=".doc, .docx"
                        v-model="fileWord"
                        @change = "changeWord"
                        v-if="!cargandoW"
    
                    ></v-file-input>
                
                    <v-progress-linear
                        class="mb-6"
                        v-model="porcentajeW"
                        color="primary"
                        height="20"
                        v-else
                    >
                        <strong class="white--text" style="font-size: 14px;">{{ Math.ceil(porcentajeW) }}%</strong>
                    </v-progress-linear>


                    <v-file-input
                        outlined
                        label="Archivo PDF"
                        prepend-icon="mdi-paperclip"
                        accept=".pdf"
                        v-model="filePDF"
                        @change = "changePDF"
                        v-if="!cargandoP"
    
                    ></v-file-input>
                    <v-progress-linear
                        class="mb-6"
                        v-model="porcentajeP"
                        color="primary"
                        height="20"
                        v-else
                    >
                        <strong class="white--text" style="font-size: 14px;">{{ Math.ceil(porcentajeP) }}%</strong>
                    </v-progress-linear>
                </div>

                <v-select
                    :items="tiposRecursoList"
                    label="Tipo de recurso"
                    solo
                    outlined
                    v-model="tipoRecursoSelect"
                    v-if="subtipo !=='planeacion' && subtipo !=='reflexion'"
                ></v-select>

                <div v-if="tipoRecursoSelect === 'file' && subtipo !=='planeacion'" >
                    
                    <v-file-input
                        outlined
                        label="Seleccione un archivo válido"
                        prepend-icon="mdi-paperclip"
                        accept="audio/mp3, image/png, image/jpg, .ppt, .pptx, .pdf"
                        v-model="file"
                        @change = "changeFile"
                        v-if="!cargandoF"
    
                    ></v-file-input>
                    <v-progress-linear
                        class="mb-6"
                        v-model="porcentajeF"
                        color="primary"
                        height="20"
                        v-else
                    >
                        <strong class="white--text" style="font-size: 14px;">{{ Math.ceil(porcentajeF) }}%</strong>
                    </v-progress-linear>

                </div>
                <v-text-field
                    v-model="datosRecursoEdit.urlRecurso[0]"
                    placeholder="Link del video"
                    required
                    outlined
                    :rules="[v => !!v || 'Link del video es requerida']"
                    @keyup.enter=""
                    v-else-if="tipoRecursoSelect === 'link' && subtipo !=='planeacion'"
                ></v-text-field>

                    

                    <v-text-field
                        v-model="datosRecursoEdit.titulo"
                        placeholder="Titulo"
                        required
                        outlined
                        :rules="[v => !!v || 'titulo del post es requerida']"
                        @keyup.enter=""
                    ></v-text-field>
                    <v-textarea
                        solo
                        outlined
                        required
                        v-model="datosRecursoEdit.sinopsis"
                        name="input-7-4"
                        :rules="sinopsisReglas"
                        label="Sinopsis..."
                        v-if="(subtipo === 'planeacion' || subtipo === 'recurso')"

                        @keyup.enter=""

                    ></v-textarea>

                    <v-text-field
                            v-model="datosRecursoEdit.materia"
                            placeholder="Materia"
                            required
                            outlined
                            :rules="[v => !!v || 'Materia grupo es requerida']"
                            @keyup.enter=""
                            v-if="datosRecursoEdit.tipo === 'planeacion' || datosRecursoEdit.tipo === 'recurso'"
                    ></v-text-field>
                    <v-text-field
                        v-model="datosRecursoEdit.grado"
                        placeholder="Grado"
                        required
                        outlined
                        :rules="[v => !!v || 'Grado es requerida']"
                        @keyup.enter=""
                        v-if="datosRecursoEdit.tipo === 'planeacion' || datosRecursoEdit.tipo === 'recurso'"

                    ></v-text-field>

                    <!-- <v-textarea
                        v-model="datosRecursoEdit.contenido"
                        placeholder="contenido..."
                        required
                        outlined
                        :rules="[v => !!v || 'Contendio del post es requerida']"
                        @keyup.enter=""
        
                    ></v-textarea> -->
                    <VueEditor 
                        class="elevation-3 rounded-lg" 
                        v-model="datosRecursoEdit.contenido" 
                        :editorToolbar="customToolbar"
                        required
                        outlined
                        :rules="[v => !!v || 'Contendio del post es requerida']"
                    ></VueEditor>

                    <!-- <VueEditor 
                        class="elevation-3 rounded-lg" 
                        v-model="datosRecursoEdit.contenido" 
                        :editorToolbar="customToolbar"
                        required
                        outlined
                        :rules="[v => !!v || 'Contendio del post es requerida']"
                    /> -->
                    
                    <!-- <v-radio-group
                        v-model="datosRecursoEdit.edopost"
                        row
                        :rules="[v => !!v || 'Seleccione privacidad']">

                        <v-radio
                            label="Publico"
                            value="publico"
                        ></v-radio>
                        <v-radio
                            label="Privado"
                            value="privado"
                        ></v-radio>
                    </v-radio-group> -->

                    <div 
                            class="d-flex flex-column flex-sm-column flex-md-row flex-lg-row flex-xl-row  justify-space-between" >

                            <v-radio-group
                                v-model="datosRecursoEdit.edopost"
                                row
                                :rules="[v => !!v || 'Seleccione privacidad']">
        
                                <v-radio
                                    label="Publico"
                                    value="publico"
                                    small
                                ></v-radio>
                                <v-radio
                                    label="Privado"
                                    value="privado"
                                    small
                                ></v-radio>
                            </v-radio-group>
    
                            <v-switch
                                v-model="datosRecursoEdit.premium"
                                inset
                                label="Premium"
                                small
                            ></v-switch>
    
                            <v-switch
                                v-model="datosRecursoEdit.recomendado"
                                inset
                                label="Recomendado"
                                small
                                v-if="datosRecursoEdit.tipo === 'recurso' || datosRecursoEdit.tipo === 'planeacion' "
                            ></v-switch>
                        </div>

                    <input-tag 
                            v-model="datosRecursoEdit.tags" 
                            class="mb-2 mt-2 tags_input"
                        >
                    </input-tag>
                    <p><small>*Presione enter o ingrese una coma para agregar otro tag</small></p>
                    <div v-if="tagsValido === false" >
                        <p :class="[tagsValido ? '' : 'errorTags']">{{msjTag}}</p>
                    </div>

                    <div class="d-flex justify-center">
                        <v-btn 
                            :disabled="!esRecursoEditValido" dark 
                            class="red px-10 mb-5 btn_crearG" 
                            @click="validarFormularioRecursoEdit"  
                        >Modificar</v-btn>
                    </div>
               
              </v-form>
  
                      
                   
          </div>
        </v-card>
    </v-dialog>





</v-row>

<!-- <v-row>
<v-col cols="12" md="3">
    <slot  name="header"></slot>
  
</v-col>
<v-col cols="12" md="3" v-for="(key,index) in listapost" :key="'post'+index">
    
    <v-card >
        <v-card-text class="pa-2">
            <v-skeleton-loader v-if="key.urlImagen===''"
            class="mx-auto "
            max-width="100%"
            type="image"
          ></v-skeleton-loader>
            <img v-if="key.urlImagen!==''" :src="key.urlImagen"   width="100%" />    
     
            <h2>{{key.titulo}}</h2>
            <p>{{key.fecha}}</p>
            <p :class="key.edopost==='privado' ? 'red--text' : 'black--text'">{{key.edopost}}</p>
          
        </v-card-text>
    </v-card>

</v-col>
</v-col>
</v-row> -->