.fotomini{
    /* height:"150"; */
     /* width:calc(100% + 50px); */
     width: 100%;
     height: 150px;
}

.textos > p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.texto_mb{
    margin-bottom:0!important;
}